In [1]:
import subprocess

import pandas as pd

from helpers import *

In [2]:
TARGET_COLUMNS = [ 
    'hospital_id',
    #'row_id',
    'line_type',
    'description',
    'rev_code',
    'local_code',
    'code',
    'ms_drg',
    'apr_drg',
    'eapg',
    'hcpcs_cpt',
    'modifiers',
    'alt_hcpcs_cpt',
    'thru',
    'apc',
    'icd',
    'ndc',
    'drug_hcpcs_multiplier',
    'drug_quantity',
    'drug_unit_of_measurement',
    'drug_type_of_measurement',
    'billing_class',
    'setting',
    'rate_category',
    'payer_name',
    'plan_name',
    'standard_charge',
    'standard_charge_percent',
    'contracting_method',
    'additional_generic_notes',
    'additional_payer_specific_notes'
]

In [3]:
TRANSPARENCY_PAGE = "https://baileymedicalcenter.com/pricing-transparency"
ccn = "520034"
url = "https://coc.ardenthealthservices.com/2023/oklahoma/201547519_Bailey-Medical-Center_standardcharges.csv"
filename = derive_filename_from_url(url)
ein = derive_ein_from_filename(filename)
ein

'20-1547519'

In [4]:
subprocess.run(["wget", "--no-clobber", url, "-O", filename])

File ‘201547519_Bailey-Medical-Center_standardcharges.csv’ already there; not retrieving.

CompletedProcess(args=['wget', '--no-clobber', 'https://coc.ardenthealthservices.com/2023/oklahoma/201547519_Bailey-Medical-Center_standardcharges.csv', '-O', '201547519_Bailey-Medical-Center_standardcharges.csv'], returncode=1)

In [5]:
df_in = pd.read_csv(filename, dtype=str, skiprows=[0])
df_in

,Procedure,Code Type,Revenue Code,Procedure Description,Quantity,Payer,Plan,Inpatient Gross Charges,Inpatient Expected Reimbursement,Inpatient Max Reimbursement,Inpatient Minimal Reimbursement,Outpatient Gross Charges,Outpatient Expected Reimbursement,Outpatient Max Reimbursement,Outpatient Minimal Reimbursement,Discounted Cash Price
0,100012,SUP,0278 - MEDICAL/SURGICAL SUPPLIES AND DEVICES-O...,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,ADMINISTRATIVE CONCEPTS [1005],ADMINISTRATIVE CONCEPTS [100502],15.13,NaN,NaN,NaN,15.13,12.4,15.13,3.78,4.54
1,100012,SUP,0278 - MEDICAL/SURGICAL SUPPLIES AND DEVICES-O...,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,AETNA MEDICARE REPLACEMENT [1020],AETNA MEDICARE REPLACEMENT [102002],15.13,NaN,NaN,NaN,15.13,NaN,15.13,3.78,4.54
2,100012,SUP,0278 - MEDICAL/SURGICAL SUPPLIES AND DEVICES-O...,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,AETNA [1015],AETNA ACO WILCO [101532],15.13,NaN,NaN,NaN,15.13,7.11,15.13,3.78,4.54
3,100012,SUP,0278 - MEDICAL/SURGICAL SUPPLIES AND DEVICES-O...,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,ALLIED BENEFIT SYSTEMS INC [1030],ALLIED BENEFIT SYSTEMS [103000],15.13,NaN,NaN,NaN,15.13,12.4,15.13,3.78,4.54
4,100012,SUP,0278 - MEDICAL/SURGICAL SUPPLIES AND DEVICES-O...,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,ALLIED NATIONAL GLOBAL CARE [1035],ALLIED NATIONAL [103500],15.13,NaN,NaN,NaN,15.13,12.4,15.13,3.78,4.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507274,MS999,DRG,NaN,Ungroupable,1,UNITED HEALTHCARE [2060],UNITED HEALTHCARE CHARTER [206031],135906.83,NaN,40772.05,9551.33,NaN,NaN,NaN,NaN,NaN
507275,MS999,DRG,NaN,Ungroupable,1,UNIVERSAL FIDELITY [2085],UNIVERSAL FIDELITY LIFE [208500],135906.83,NaN,40772.05,9551.33,NaN,NaN,NaN,NaN,NaN
507276,MS999,DRG,NaN,Ungroupable,1,VA CCN OPTUM [3920],VA CCN OPTUM [392000],135906.83,34989.75,40772.05,9551.33,NaN,NaN,NaN,NaN,NaN
507277,MS999,DRG,NaN,Ungroupable,1,WEB TPA [2115],WEB TPA [211500],135906.83,NaN,40772.05,9551.33,NaN,NaN,NaN,NaN,NaN
507278,MS999,DRG,NaN,Ungroupable,1,WORKER'S COMP [2125],CITY OF TULSA [2125108],135906.83,NaN,40772.05,9551.33,NaN,NaN,NaN,NaN,NaN

In [6]:
df_mid = pd.DataFrame(df_in)
df_mid = df_mid.rename(columns={
    'Procedure': 'code',
    'Code Type': 'line_type',
    'Revenue Code': 'rev_code',
    'Procedure Description': 'description',
    'Quantity': 'drug_quantity',
    'Payer': 'payer_name',
    'Plan': 'plan_name',
})

df_mid

,code,line_type,rev_code,description,drug_quantity,payer_name,plan_name,Inpatient Gross Charges,Inpatient Expected Reimbursement,Inpatient Max Reimbursement,Inpatient Minimal Reimbursement,Outpatient Gross Charges,Outpatient Expected Reimbursement,Outpatient Max Reimbursement,Outpatient Minimal Reimbursement,Discounted Cash Price
0,100012,SUP,0278 - MEDICAL/SURGICAL SUPPLIES AND DEVICES-O...,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,ADMINISTRATIVE CONCEPTS [1005],ADMINISTRATIVE CONCEPTS [100502],15.13,NaN,NaN,NaN,15.13,12.4,15.13,3.78,4.54
1,100012,SUP,0278 - MEDICAL/SURGICAL SUPPLIES AND DEVICES-O...,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,AETNA MEDICARE REPLACEMENT [1020],AETNA MEDICARE REPLACEMENT [102002],15.13,NaN,NaN,NaN,15.13,NaN,15.13,3.78,4.54
2,100012,SUP,0278 - MEDICAL/SURGICAL SUPPLIES AND DEVICES-O...,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,AETNA [1015],AETNA ACO WILCO [101532],15.13,NaN,NaN,NaN,15.13,7.11,15.13,3.78,4.54
3,100012,SUP,0278 - MEDICAL/SURGICAL SUPPLIES AND DEVICES-O...,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,ALLIED BENEFIT SYSTEMS INC [1030],ALLIED BENEFIT SYSTEMS [103000],15.13,NaN,NaN,NaN,15.13,12.4,15.13,3.78,4.54
4,100012,SUP,0278 - MEDICAL/SURGICAL SUPPLIES AND DEVICES-O...,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,ALLIED NATIONAL GLOBAL CARE [1035],ALLIED NATIONAL [103500],15.13,NaN,NaN,NaN,15.13,12.4,15.13,3.78,4.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507274,MS999,DRG,NaN,Ungroupable,1,UNITED HEALTHCARE [2060],UNITED HEALTHCARE CHARTER [206031],135906.83,NaN,40772.05,9551.33,NaN,NaN,NaN,NaN,NaN
507275,MS999,DRG,NaN,Ungroupable,1,UNIVERSAL FIDELITY [2085],UNIVERSAL FIDELITY LIFE [208500],135906.83,NaN,40772.05,9551.33,NaN,NaN,NaN,NaN,NaN
507276,MS999,DRG,NaN,Ungroupable,1,VA CCN OPTUM [3920],VA CCN OPTUM [392000],135906.83,34989.75,40772.05,9551.33,NaN,NaN,NaN,NaN,NaN
507277,MS999,DRG,NaN,Ungroupable,1,WEB TPA [2115],WEB TPA [211500],135906.83,NaN,40772.05,9551.33,NaN,NaN,NaN,NaN,NaN
507278,MS999,DRG,NaN,Ungroupable,1,WORKER'S COMP [2125],CITY OF TULSA [2125108],135906.83,NaN,40772.05,9551.33,NaN,NaN,NaN,NaN,NaN

In [7]:
df_mid.loc[df_mid['rev_code'].notnull(), 'rev_code'] = df_mid[df_mid['rev_code'].notnull()]['rev_code'].apply(
    lambda rev_code: rev_code.split(' ')[0]
)
set(df_mid['rev_code'].to_list())

{'0111',
 '0112',
 '0115',
 '0121',
 '0164',
 '0171',
 '0200',
 '0206',
 '0250',
 '0255',
 '0258',
 '0260',
 '0270',
 '0271',
 '0272',
 '0274',
 '0278',
 '0300',
 '0301',
 '0302',
 '0305',
 '0306',
 '0307',
 '0309',
 '0310',
 '0311',
 '0312',
 '0314',
 '0320',
 '0322',
 '0324',
 '0333',
 '0340',
 '0341',
 '0342',
 '0343',
 '0344',
 '0349',
 '0350',
 '0351',
 '0352',
 '0359',
 '0360',
 '0370',
 '0390',
 '0391',
 '0401',
 '0402',
 '0403',
 '0404',
 '0410',
 '0419',
 '0420',
 '0423',
 '0424',
 '0430',
 '0434',
 '0440',
 '0443',
 '0444',
 '0450',
 '0460',
 '0471',
 '0480',
 '0482',
 '0483',
 '0490',
 '0510',
 '0610',
 '0611',
 '0612',
 '0615',
 '0619',
 '0636',
 '0637',
 '0710',
 '0720',
 '0721',
 '0722',
 '0723',
 '0730',
 '0750',
 '0761',
 '0762',
 '0771',
 '0918',
 '0920',
 '0921',
 '0924',
 '0942',
 nan}

In [8]:
money_idx = df_mid.columns.to_list().index('Inpatient Gross Charges')
money_columns = df_mid.columns.to_list()[money_idx:]
money_columns

['Inpatient Gross Charges',
 'Inpatient Expected Reimbursement',
 'Inpatient Max Reimbursement',
 'Inpatient Minimal Reimbursement',
 'Outpatient Gross Charges',
 'Outpatient Expected Reimbursement',
 'Outpatient Max Reimbursement',
 'Outpatient Minimal Reimbursement',
 'Discounted Cash Price']

In [9]:
remaining_columns = df_mid.columns.to_list()[:money_idx]
df_mid = pd.melt(df_mid, id_vars=remaining_columns, var_name='payer_name2', value_name='standard_charge')
df_mid

,code,line_type,rev_code,description,drug_quantity,payer_name,plan_name,payer_name2,standard_charge
0,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,ADMINISTRATIVE CONCEPTS [1005],ADMINISTRATIVE CONCEPTS [100502],Inpatient Gross Charges,15.13
1,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,AETNA MEDICARE REPLACEMENT [1020],AETNA MEDICARE REPLACEMENT [102002],Inpatient Gross Charges,15.13
2,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,AETNA [1015],AETNA ACO WILCO [101532],Inpatient Gross Charges,15.13
3,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,ALLIED BENEFIT SYSTEMS INC [1030],ALLIED BENEFIT SYSTEMS [103000],Inpatient Gross Charges,15.13
4,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,ALLIED NATIONAL GLOBAL CARE [1035],ALLIED NATIONAL [103500],Inpatient Gross Charges,15.13
...,...,...,...,...,...,...,...,...,...
4565506,MS999,DRG,NaN,Ungroupable,1,UNITED HEALTHCARE [2060],UNITED HEALTHCARE CHARTER [206031],Discounted Cash Price,NaN
4565507,MS999,DRG,NaN,Ungroupable,1,UNIVERSAL FIDELITY [2085],UNIVERSAL FIDELITY LIFE [208500],Discounted Cash Price,NaN
4565508,MS999,DRG,NaN,Ungroupable,1,VA CCN OPTUM [3920],VA CCN OPTUM [392000],Discounted Cash Price,NaN
4565509,MS999,DRG,NaN,Ungroupable,1,WEB TPA [2115],WEB TPA [211500],Discounted Cash Price,NaN
4565510,MS999,DRG,NaN,Ungroupable,1,WORKER'S COMP [2125],CITY OF TULSA [2125108],Discounted Cash Price,NaN

In [10]:
df_mid['setting'] = None

df_mid.loc[df_mid['payer_name2'].str.contains('Inpatient'), 'setting'] = 'inpatient'
df_mid.loc[df_mid['payer_name2'].str.contains('Outpatient'), 'setting'] = 'outpatient'

df_mid

,code,line_type,rev_code,description,drug_quantity,payer_name,plan_name,payer_name2,standard_charge,setting
0,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,ADMINISTRATIVE CONCEPTS [1005],ADMINISTRATIVE CONCEPTS [100502],Inpatient Gross Charges,15.13,inpatient
1,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,AETNA MEDICARE REPLACEMENT [1020],AETNA MEDICARE REPLACEMENT [102002],Inpatient Gross Charges,15.13,inpatient
2,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,AETNA [1015],AETNA ACO WILCO [101532],Inpatient Gross Charges,15.13,inpatient
3,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,ALLIED BENEFIT SYSTEMS INC [1030],ALLIED BENEFIT SYSTEMS [103000],Inpatient Gross Charges,15.13,inpatient
4,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,ALLIED NATIONAL GLOBAL CARE [1035],ALLIED NATIONAL [103500],Inpatient Gross Charges,15.13,inpatient
...,...,...,...,...,...,...,...,...,...,...
4565506,MS999,DRG,NaN,Ungroupable,1,UNITED HEALTHCARE [2060],UNITED HEALTHCARE CHARTER [206031],Discounted Cash Price,NaN,None
4565507,MS999,DRG,NaN,Ungroupable,1,UNIVERSAL FIDELITY [2085],UNIVERSAL FIDELITY LIFE [208500],Discounted Cash Price,NaN,None
4565508,MS999,DRG,NaN,Ungroupable,1,VA CCN OPTUM [3920],VA CCN OPTUM [392000],Discounted Cash Price,NaN,None
4565509,MS999,DRG,NaN,Ungroupable,1,WEB TPA [2115],WEB TPA [211500],Discounted Cash Price,NaN,None
4565510,MS999,DRG,NaN,Ungroupable,1,WORKER'S COMP [2125],CITY OF TULSA [2125108],Discounted Cash Price,NaN,None

In [11]:
df_mid.loc[df_mid['payer_name2'].str.contains('Gross'), 'rate_category'] = 'gross'
df_mid.loc[df_mid['payer_name2'].str.contains('Cash'), 'rate_category'] = 'cash'
df_mid.loc[df_mid['payer_name2'].str.contains('Min'), 'rate_category'] = 'min'
df_mid.loc[df_mid['payer_name2'].str.contains('Max'), 'rate_category'] = 'max'
df_mid.loc[df_mid['payer_name2'].str.contains('Expected Reimbursement'), 'rate_category'] = 'negotiated'
df_mid

,code,line_type,rev_code,description,drug_quantity,payer_name,plan_name,payer_name2,standard_charge,setting,rate_category
0,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,ADMINISTRATIVE CONCEPTS [1005],ADMINISTRATIVE CONCEPTS [100502],Inpatient Gross Charges,15.13,inpatient,gross
1,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,AETNA MEDICARE REPLACEMENT [1020],AETNA MEDICARE REPLACEMENT [102002],Inpatient Gross Charges,15.13,inpatient,gross
2,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,AETNA [1015],AETNA ACO WILCO [101532],Inpatient Gross Charges,15.13,inpatient,gross
3,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,ALLIED BENEFIT SYSTEMS INC [1030],ALLIED BENEFIT SYSTEMS [103000],Inpatient Gross Charges,15.13,inpatient,gross
4,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,ALLIED NATIONAL GLOBAL CARE [1035],ALLIED NATIONAL [103500],Inpatient Gross Charges,15.13,inpatient,gross
...,...,...,...,...,...,...,...,...,...,...,...
4565506,MS999,DRG,NaN,Ungroupable,1,UNITED HEALTHCARE [2060],UNITED HEALTHCARE CHARTER [206031],Discounted Cash Price,NaN,None,cash
4565507,MS999,DRG,NaN,Ungroupable,1,UNIVERSAL FIDELITY [2085],UNIVERSAL FIDELITY LIFE [208500],Discounted Cash Price,NaN,None,cash
4565508,MS999,DRG,NaN,Ungroupable,1,VA CCN OPTUM [3920],VA CCN OPTUM [392000],Discounted Cash Price,NaN,None,cash
4565509,MS999,DRG,NaN,Ungroupable,1,WEB TPA [2115],WEB TPA [211500],Discounted Cash Price,NaN,None,cash
4565510,MS999,DRG,NaN,Ungroupable,1,WORKER'S COMP [2125],CITY OF TULSA [2125108],Discounted Cash Price,NaN,None,cash

In [12]:
df_mid.loc[df_mid['rate_category'] != 'negotiated', 'payer_name'] = df_mid[df_mid['rate_category'] != 'negotiated']['payer_name2']
df_mid.loc[df_mid['rate_category'] != 'negotiated', 'plan_name'] = None
del df_mid['payer_name2']
df_mid

,code,line_type,rev_code,description,drug_quantity,payer_name,plan_name,standard_charge,setting,rate_category
0,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,Inpatient Gross Charges,None,15.13,inpatient,gross
1,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,Inpatient Gross Charges,None,15.13,inpatient,gross
2,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,Inpatient Gross Charges,None,15.13,inpatient,gross
3,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,Inpatient Gross Charges,None,15.13,inpatient,gross
4,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,Inpatient Gross Charges,None,15.13,inpatient,gross
...,...,...,...,...,...,...,...,...,...,...
4565506,MS999,DRG,NaN,Ungroupable,1,Discounted Cash Price,None,NaN,None,cash
4565507,MS999,DRG,NaN,Ungroupable,1,Discounted Cash Price,None,NaN,None,cash
4565508,MS999,DRG,NaN,Ungroupable,1,Discounted Cash Price,None,NaN,None,cash
4565509,MS999,DRG,NaN,Ungroupable,1,Discounted Cash Price,None,NaN,None,cash
4565510,MS999,DRG,NaN,Ungroupable,1,Discounted Cash Price,None,NaN,None,cash

In [13]:
df_mid['line_type'].value_counts()

line_type
SUP    2244402
EAP    1185813
ERX     707076
DRG     428220
Name: count, dtype: int64

In [14]:
df_mid.loc[df_mid['line_type'] == 'DRG', 'ms_drg'] = df_mid[df_mid['line_type'] == 'DRG']['code'].str.replace('MS', '')

In [15]:
df_mid['drug_unit_of_measurement'] = None
df_mid['drug_type_of_measurement'] = None

def fix_drug_quantity_fields(row):
    drug_quantity = row.get("drug_quantity")
    if type(drug_quantity) != str:
        return row

    if not " " in drug_quantity:
        return row

    if drug_quantity == '5 Million Units':
        drug_quantity = '5 Million'
        units = 'Units'
    else:
        try:
            drug_quantity, units = drug_quantity.split(' ')
        except:
            print("!", drug_quantity)
            return row
        
    row['drug_quantity'] = drug_quantity
    row['drug_unit_of_measurement'] = units

    if units == 'mL':
        row['drug_type_of_measurement'] = 'ml'
    elif units == 'g':
        row['drug_type_of_measurement'] = 'gr'
    elif units == 'table' or units == 'capsule' or units == 'Units' or units == 'lozenge' or units == 'Dose' or units == 'Container' or units == 'packet':
        row['drug_type_of_measurement'] = 'un'
    
    return row

df_mid = df_mid.apply(fix_drug_quantity_fields, axis=1)

In [16]:
df_mid['hospital_id'] = ccn
df_mid['local_code'] = None
df_mid['apr_drg'] = None
df_mid['eapg'] = None
df_mid['hcpcs_cpt'] = None
df_mid['modifiers'] = None
df_mid['alt_hcpcs_cpt'] = None
df_mid['thru'] = None
df_mid['apc'] = None
df_mid['icd'] = None
df_mid['ndc'] = None
df_mid['drug_hcpcs_multiplier'] = None
df_mid['standard_charge_percent'] = None
df_mid['contracting_method'] = None
df_mid['additional_generic_notes'] = None
df_mid['additional_payer_specific_notes'] = None
df_mid['billing_class'] = None

df_mid

,code,line_type,rev_code,description,drug_quantity,payer_name,plan_name,standard_charge,setting,rate_category,...,thru,apc,icd,ndc,drug_hcpcs_multiplier,standard_charge_percent,contracting_method,additional_generic_notes,additional_payer_specific_notes,billing_class
0,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,Inpatient Gross Charges,None,15.13,inpatient,gross,...,None,None,None,None,None,None,None,None,None,None
1,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,Inpatient Gross Charges,None,15.13,inpatient,gross,...,None,None,None,None,None,None,None,None,None,None
2,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,Inpatient Gross Charges,None,15.13,inpatient,gross,...,None,None,None,None,None,None,None,None,None,None
3,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,Inpatient Gross Charges,None,15.13,inpatient,gross,...,None,None,None,None,None,None,None,None,None,None
4,100012,SUP,0278,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,1,Inpatient Gross Charges,None,15.13,inpatient,gross,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4565506,MS999,DRG,NaN,Ungroupable,1,Discounted Cash Price,None,NaN,None,cash,...,None,None,None,None,None,None,None,None,None,None
4565507,MS999,DRG,NaN,Ungroupable,1,Discounted Cash Price,None,NaN,None,cash,...,None,None,None,None,None,None,None,None,None,None
4565508,MS999,DRG,NaN,Ungroupable,1,Discounted Cash Price,None,NaN,None,cash,...,None,None,None,None,None,None,None,None,None,None
4565509,MS999,DRG,NaN,Ungroupable,1,Discounted Cash Price,None,NaN,None,cash,...,None,None,None,None,None,None,None,None,None,None
4565510,MS999,DRG,NaN,Ungroupable,1,Discounted Cash Price,None,NaN,None,cash,...,None,None,None,None,None,None,None,None,None,None

In [17]:
df_out = pd.DataFrame(df_mid[TARGET_COLUMNS])
df_out

,hospital_id,line_type,description,rev_code,local_code,code,ms_drg,apr_drg,eapg,hcpcs_cpt,...,billing_class,setting,rate_category,payer_name,plan_name,standard_charge,standard_charge_percent,contracting_method,additional_generic_notes,additional_payer_specific_notes
0,520034,SUP,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,0278,None,100012,NaN,None,None,None,...,None,inpatient,gross,Inpatient Gross Charges,None,15.13,None,None,None,None
1,520034,SUP,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,0278,None,100012,NaN,None,None,None,...,None,inpatient,gross,Inpatient Gross Charges,None,15.13,None,None,None,None
2,520034,SUP,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,0278,None,100012,NaN,None,None,None,...,None,inpatient,gross,Inpatient Gross Charges,None,15.13,None,None,None,None
3,520034,SUP,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,0278,None,100012,NaN,None,None,None,...,None,inpatient,gross,Inpatient Gross Charges,None,15.13,None,None,None,None
4,520034,SUP,WIRE FIXATION KIRSCHNER STAINLESS STEEL L6 IN ...,0278,None,100012,NaN,None,None,None,...,None,inpatient,gross,Inpatient Gross Charges,None,15.13,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4565506,520034,DRG,Ungroupable,NaN,None,MS999,999,None,None,None,...,None,None,cash,Discounted Cash Price,None,NaN,None,None,None,None
4565507,520034,DRG,Ungroupable,NaN,None,MS999,999,None,None,None,...,None,None,cash,Discounted Cash Price,None,NaN,None,None,None,None
4565508,520034,DRG,Ungroupable,NaN,None,MS999,999,None,None,None,...,None,None,cash,Discounted Cash Price,None,NaN,None,None,None,None
4565509,520034,DRG,Ungroupable,NaN,None,MS999,999,None,None,None,...,None,None,cash,Discounted Cash Price,None,NaN,None,None,None,None
4565510,520034,DRG,Ungroupable,NaN,None,MS999,999,None,None,None,...,None,None,cash,Discounted Cash Price,None,NaN,None,None,None,None

In [18]:
df_out.to_csv('rate_' + ccn + '.csv', index=False)