In [1]:
import subprocess
from datetime import date

import pandas as pd

from helpers import *

In [2]:
TARGET_COLUMNS = [ 
    'hospital_id',
    #'row_id',
    'line_type',
    'description',
    'rev_code',
    'local_code',
    'code',
    'ms_drg',
    'apr_drg',
    'eapg',
    'hcpcs_cpt',
    'modifiers',
    'alt_hcpcs_cpt',
    'thru',
    'apc',
    'icd',
    'ndc',
    'drug_hcpcs_multiplier',
    'drug_quantity',
    'drug_unit_of_measurement',
    'drug_type_of_measurement',
    'billing_class',
    'setting',
    'payer_category',
    'payer_name',
    'plan_name',
    'standard_charge',
    'standard_charge_percent',
    'contracting_method',
    'additional_generic_notes',
    'additional_payer_specific_notes'
]

In [3]:
TRANSPARENCY_PAGE = "https://www.aurorahealthcare.org/patients-visitors/billing-payment/health-care-costs"
ccn = "520034"
url = "https://www.aurorahealthcare.org/assets/documents/billing-insurance/pricing-transparency/391211629_aurora-medical-center-manitowoc-county_standardcharges.xml"
filename = derive_filename_from_url(url)
ein = derive_ein_from_filename(filename)
ein

'39-1211629'

In [4]:
subprocess.run(["wget", "--no-clobber", url, "-O", filename])

File ‘391211629_aurora-medical-center-manitowoc-county_standardcharges.xml’ already there; not retrieving.

CompletedProcess(args=['wget', '--no-clobber', 'https://www.aurorahealthcare.org/assets/documents/billing-insurance/pricing-transparency/391211629_aurora-medical-center-manitowoc-county_standardcharges.xml', '-O', '391211629_aurora-medical-center-manitowoc-county_standardcharges.xml'], returncode=1)

In [5]:
df_in = pd.read_xml(filename, dtype=str)
df_in

,Facility,Type,Chargecode_DRG_CPT,Description,Rev,CPT,NDC,_1_1_23_Fee,_2023_Aetna_W,_2023_Aetna_PPO,...,_2023_Trilogy,_2023_UHC_Charter,_2023_UHC_Nexus,_2023_UHC_HMO,_2023_UHC_PPO,_2023_WPS_Arise,_2023_WPS_Statewide,Self_Pay,Min,Max
0,MANITOWOC,CHARGE,10000002,ROOM CHARGE MED SURG,121,None,NaN,"1,770.00","1,122.39","1,471.10",...,"1,335.14","1,332.39","1,332.39","1,426.36","1,497.42","1,235.34","1,396.45",973.50,"1,079.70","1,504.50"
1,MANITOWOC,CHARGE,10000003,ROOM CHARGE WOMEN'S HEALTH,122,None,NaN,"1,770.00",778.73,"1,483.26",...,920.84,963.36,963.36,"1,040.03","1,497.42",891.65,"1,059.77",973.50,755.66,"1,504.50"
2,MANITOWOC,CHARGE,10000004,ROOM CHARGE PEDIATRICS,123,None,NaN,"1,770.00",840.12,"1,483.26",...,"1,111.48","1,010.75","1,010.75","1,101.19","1,497.42",840.12,"1,012.80",973.50,812.02,"1,770.00"
3,MANITOWOC,CHARGE,10000005,ROOM CHARGE NURSERY LEVEL 1,171,None,NaN,"1,650.00",969.48,"1,382.70",...,"1,239.59","1,159.05","1,159.05","1,229.76","1,395.90","1,004.20","1,163.04",907.50,969.48,"1,402.51"
4,MANITOWOC,CHARGE,10000008,ROOM CHARGE ICU OR CCU,200,None,NaN,"4,070.00","2,417.19","3,410.66",...,"2,787.26","2,968.97","2,968.97","3,162.02","3,443.22","2,610.12","2,895.14","2,238.50","2,381.53","3,459.51"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3017,MANITOWOC,OP PROC*,66984,XCAPSL CTRC RMVL W/O ECP,NaN,NaN,NaN,"12,409.28","3,211.22","10,398.98",...,"4,117.54","2,950.00","2,950.00","3,214.00","10,498.25","3,401.22","4,089.22","6,825.10","2,741.57","12,331.01"
3018,MANITOWOC,OP PROC*,69436,CREATE EARDRUM OPENING,NaN,NaN,NaN,"12,013.22","9,509.09","10,067.08",...,"5,970.52","4,196.51","4,196.51","4,571.73","10,163.18","3,586.59","4,351.73","6,607.27","2,929.89","11,606.12"
3019,MANITOWOC,OP PROC*,G0105,COLORECTAL SCRN; HI RISK IND,NaN,NaN,NaN,"6,453.61","3,119.00","5,408.13",...,"2,163.00","2,360.00","2,360.00","2,571.00","5,459.76","1,790.00","2,172.00","3,549.49","1,060.00","6,453.61"
3020,MANITOWOC,OP PROC*,G0121,COLON CA SCRN NOT HI RSK IND,NaN,NaN,NaN,"6,476.92","3,119.00","5,427.66",...,"2,163.00","2,360.00","2,360.00","2,571.00","5,479.47","1,790.00","2,172.00","3,562.31","1,060.00","6,476.92"
3021,MANITOWOC,OP PROC*,G0260,INJ FOR SACROILIAC JT ANESTH,NaN,NaN,NaN,"2,350.67","1,986.11","1,969.86",...,"2,147.85","2,162.62","2,162.62","2,167.60","1,988.67","1,919.25","2,149.44","1,292.87","1,010.79","2,188.19"

In [6]:
df_mid = pd.DataFrame(df_in)
del df_mid['Facility']
df_mid = df_mid.rename(columns={
    'Type': 'line_type',
    'Chargecode_DRG_CPT': 'code',
    'Description': 'description',
    'Rev': 'rev_code',
    'CPT': 'hcpcs_cpt',
    'NDC': 'ndc'
})

df_mid

,line_type,code,description,rev_code,hcpcs_cpt,ndc,_1_1_23_Fee,_2023_Aetna_W,_2023_Aetna_PPO,_2023_Anthem_Blue_Priority,...,_2023_Trilogy,_2023_UHC_Charter,_2023_UHC_Nexus,_2023_UHC_HMO,_2023_UHC_PPO,_2023_WPS_Arise,_2023_WPS_Statewide,Self_Pay,Min,Max
0,CHARGE,10000002,ROOM CHARGE MED SURG,121,None,NaN,"1,770.00","1,122.39","1,471.10","1,134.47",...,"1,335.14","1,332.39","1,332.39","1,426.36","1,497.42","1,235.34","1,396.45",973.50,"1,079.70","1,504.50"
1,CHARGE,10000003,ROOM CHARGE WOMEN'S HEALTH,122,None,NaN,"1,770.00",778.73,"1,483.26",855.92,...,920.84,963.36,963.36,"1,040.03","1,497.42",891.65,"1,059.77",973.50,755.66,"1,504.50"
2,CHARGE,10000004,ROOM CHARGE PEDIATRICS,123,None,NaN,"1,770.00",840.12,"1,483.26",908.64,...,"1,111.48","1,010.75","1,010.75","1,101.19","1,497.42",840.12,"1,012.80",973.50,812.02,"1,770.00"
3,CHARGE,10000005,ROOM CHARGE NURSERY LEVEL 1,171,None,NaN,"1,650.00",969.48,"1,382.70","1,049.69",...,"1,239.59","1,159.05","1,159.05","1,229.76","1,395.90","1,004.20","1,163.04",907.50,969.48,"1,402.51"
4,CHARGE,10000008,ROOM CHARGE ICU OR CCU,200,None,NaN,"4,070.00","2,417.19","3,410.66","2,443.69",...,"2,787.26","2,968.97","2,968.97","3,162.02","3,443.22","2,610.12","2,895.14","2,238.50","2,381.53","3,459.51"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3017,OP PROC*,66984,XCAPSL CTRC RMVL W/O ECP,NaN,NaN,NaN,"12,409.28","3,211.22","10,398.98","3,386.22",...,"4,117.54","2,950.00","2,950.00","3,214.00","10,498.25","3,401.22","4,089.22","6,825.10","2,741.57","12,331.01"
3018,OP PROC*,69436,CREATE EARDRUM OPENING,NaN,NaN,NaN,"12,013.22","9,509.09","10,067.08","3,708.72",...,"5,970.52","4,196.51","4,196.51","4,571.73","10,163.18","3,586.59","4,351.73","6,607.27","2,929.89","11,606.12"
3019,OP PROC*,G0105,COLORECTAL SCRN; HI RISK IND,NaN,NaN,NaN,"6,453.61","3,119.00","5,408.13","1,060.00",...,"2,163.00","2,360.00","2,360.00","2,571.00","5,459.76","1,790.00","2,172.00","3,549.49","1,060.00","6,453.61"
3020,OP PROC*,G0121,COLON CA SCRN NOT HI RSK IND,NaN,NaN,NaN,"6,476.92","3,119.00","5,427.66","1,060.00",...,"2,163.00","2,360.00","2,360.00","2,571.00","5,479.47","1,790.00","2,172.00","3,562.31","1,060.00","6,476.92"
3021,OP PROC*,G0260,INJ FOR SACROILIAC JT ANESTH,NaN,NaN,NaN,"2,350.67","1,986.11","1,969.86","1,244.10",...,"2,147.85","2,162.62","2,162.62","2,167.60","1,988.67","1,919.25","2,149.44","1,292.87","1,010.79","2,188.19"

In [7]:
money_columns = df_mid.columns[6:]
money_columns

Index(['_1_1_23_Fee', '_2023_Aetna_W', '_2023_Aetna_PPO',
       '_2023_Anthem_Blue_Priority', '_2023_Anthem_Blue_Preferred',
       '_2023_Anthem_PPO', '_2023_Aurora_Caregiver', '_2023_Centivo',
       '_2023_Cigna_GPPO', '_2023_Cigna_PPO',
       '_2023_Common_Ground_ETF_Network',
       '_2023_Common_Ground_Exchange_Envision',
       '_2023_Common_Ground_Group_Envision', '_2023_Everpointe_Elite',
       '_2023_Health_EOS_Plus', '_2023_Health_EOS_PPO',
       '_2023_HealthPartners_ETF', '_2023_HealthPartners_Robin_Focused',
       '_2023_HealthPartners_Broad', '_2023_HPS', '_2023_HST',
       '_2023_Humana_HPN', '_2023_Humana_HMO', '_2023_Humana_PPO',
       '_2023_Molina_Exchange', '_2023_Quartz_One', '_2023_Quartz_Group',
       '_2023_Trilogy', '_2023_UHC_Charter', '_2023_UHC_Nexus',
       '_2023_UHC_HMO', '_2023_UHC_PPO', '_2023_WPS_Arise',
       '_2023_WPS_Statewide', 'Self_Pay', 'Min', 'Max'],
      dtype='object')

In [8]:
remaining_columns = df_mid.columns[:6]
df_mid = pd.melt(df_mid, id_vars=remaining_columns, var_name='payer_name', value_name='standard_charge')
df_mid['standard_charge'] = df_mid['standard_charge'].apply(cleanup_dollar_value)
df_mid

,line_type,code,description,rev_code,hcpcs_cpt,ndc,payer_name,standard_charge
0,CHARGE,10000002,ROOM CHARGE MED SURG,121,None,NaN,_1_1_23_Fee,1770.00
1,CHARGE,10000003,ROOM CHARGE WOMEN'S HEALTH,122,None,NaN,_1_1_23_Fee,1770.00
2,CHARGE,10000004,ROOM CHARGE PEDIATRICS,123,None,NaN,_1_1_23_Fee,1770.00
3,CHARGE,10000005,ROOM CHARGE NURSERY LEVEL 1,171,None,NaN,_1_1_23_Fee,1650.00
4,CHARGE,10000008,ROOM CHARGE ICU OR CCU,200,None,NaN,_1_1_23_Fee,4070.00
...,...,...,...,...,...,...,...,...
111809,OP PROC*,66984,XCAPSL CTRC RMVL W/O ECP,NaN,NaN,NaN,Max,12331.01
111810,OP PROC*,69436,CREATE EARDRUM OPENING,NaN,NaN,NaN,Max,11606.12
111811,OP PROC*,G0105,COLORECTAL SCRN; HI RISK IND,NaN,NaN,NaN,Max,6453.61
111812,OP PROC*,G0121,COLON CA SCRN NOT HI RSK IND,NaN,NaN,NaN,Max,6476.92
111813,OP PROC*,G0260,INJ FOR SACROILIAC JT ANESTH,NaN,NaN,NaN,Max,2188.19

In [9]:
df_mid['rev_code'] = df_mid['rev_code'].apply(lambda rev_code: rev_code.zfill(4) if type(rev_code) == str else rev_code)
set(df_mid['rev_code'].to_list())

{'0121',
 '0122',
 '0123',
 '0170',
 '0171',
 '0200',
 '0206',
 '0230',
 '0231',
 '0232',
 '0250',
 '0258',
 '0260',
 '0270',
 '0271',
 '0272',
 '0274',
 '0276',
 '0278',
 '0280',
 '0300',
 '0301',
 '0302',
 '0305',
 '0306',
 '0307',
 '0310',
 '0311',
 '0312',
 '0320',
 '0330',
 '0333',
 '0340',
 '0341',
 '0342',
 '0343',
 '0344',
 '0350',
 '0360',
 '0370',
 '0390',
 '0391',
 '0401',
 '0402',
 '0403',
 '0404',
 '0410',
 '0413',
 '0420',
 '0423',
 '0424',
 '0434',
 '0440',
 '0444',
 '0450',
 '0451',
 '0460',
 '0470',
 '0471',
 '0480',
 '0482',
 '0483',
 '0510',
 '0516',
 '0610',
 '0623',
 '0683',
 '0700',
 '0710',
 '0720',
 '0730',
 '0731',
 '0740',
 '0750',
 '0762',
 '0771',
 '0780',
 '0801',
 '0802',
 '0820',
 '0920',
 '0921',
 '0940',
 '0942',
 '0943',
 '0948',
 '0951',
 '0985',
 '0990',
 '2103',
 nan}

In [10]:
df_mid['local_code'] = None
df_mid['local_code'] = df_mid['hcpcs_cpt'].apply(
    lambda hcpcs_cpt: hcpcs_cpt if type(hcpcs_cpt) == str and (not code_is_cpt(hcpcs_cpt) and not code_is_hcpcs(hcpcs_cpt)) else None
)
df_mid.loc[df_mid['local_code'].notnull(), 'hcpcs_cpt'] = None
df_mid.loc[df_mid['hcpcs_cpt'].notnull(), 'hcpcs_cpt'] = df_mid[df_mid['hcpcs_cpt'].notnull()]['hcpcs_cpt'].str.upper()

set(df_mid['local_code'].to_list())

{None, 'RFEE10', 'RFEE11', 'RFEE12', 'RFEE13', 'RFEE9'}

In [11]:
set(df_mid['ndc'].to_list())

{'0002-7511-01',
 '0002-8215-17',
 '0002-8315-01',
 '0002-8824-01',
 '0003-0494-20',
 '0003-3734-13',
 '0003-3774-12',
 '0006-4681-00',
 '0008-0923-55',
 '0009-0003-02',
 '0009-0011-04',
 '0009-0013-05',
 '0009-0018-20',
 '0009-0039-28',
 '0009-0047-22',
 '0023-1145-01',
 '0024-5926-05',
 '0049-0013-83',
 '0049-0014-83',
 '0049-0520-83',
 '0049-0530-28',
 '0054-0017-20',
 '0054-0018-20',
 '0054-0019-20',
 '0054-3722-50',
 '0054-8174-25',
 '0054-8175-25',
 '0054-8179-25',
 '0054-8183-25',
 '0054-8724-25',
 '0054-8739-25',
 '0054-8740-25',
 '0069-0248-10',
 '0069-1305-10',
 '0069-1306-10',
 '0069-1307-10',
 '0069-1308-10',
 '0069-1309-04',
 '0069-1311-10',
 '0069-3032-20',
 '0075-0622-80',
 '0075-0626-03',
 '0088-2220-33',
 '0093-9018-65',
 '0121-0759-95',
 '0143-9093-01',
 '0143-9210-10',
 '0143-9501-25',
 '0143-9530-01',
 '0143-9721-24',
 '0143-9729-05',
 '0143-9746-10',
 '0169-3687-12',
 '0264-7625-00',
 '0270-0556-15',
 '0338-0017-02',
 '0338-0017-04',
 '0338-0049-02',
 '0338-0049-04',
 '0338-0054-03',
 '0338-0089-04',
 '0338-0117-04',
 '0338-0125-04',
 '0338-0126-12',
 '0338-0507-41',
 '0338-0509-41',
 '0338-0511-41',
 '0338-0691-04',
 '0338-0695-04',
 '0338-0703-41',
 '0338-0703-48',
 '0338-0704-34',
 '0338-0705-41',
 '0338-0705-48',
 '0338-1007-02',
 '0338-6046-94',
 '0378-2047-01',
 '0406-1130-95',
 '0409-1134-05',
 '0409-1135-02',
 '0409-1273-32',
 '0409-1283-31',
 '0409-1390-51',
 '0409-1391-22',
 '0409-1463-01',
 '0409-1623-01',
 '0409-1778-05',
 '0409-1886-02',
 '0409-1890-01',
 '0409-1891-01',
 '0409-1893-01',
 '0409-2308-50',
 '0409-2339-34',
 '0409-2344-02',
 '0409-2347-32',
 '0409-2720-02',
 '0409-3414-01',
 '0409-3724-32',
 '0409-3815-12',
 '0409-4215-01',
 '0409-4933-01',
 '0409-6482-01',
 '0409-7335-03',
 '0409-7337-01',
 '0409-7517-16',
 '0409-7620-03',
 '0409-7810-22',
 '0409-9158-01',
 '0517-0031-25',
 '0517-0720-01',
 '0517-0740-20',
 '0517-1001-25',
 '0517-1004-25',
 '0517-2340-10',
 '0517-5702-94',
 '0517-9702-25',
 '0548-5400-00',
 '0574-0850-10',
 '0597-0197-05',
 '0641-0476-25',
 '0641-0476-93',
 '0641-0477-25',
 '0641-0493-25',
 '0641-1397-35',
 '0641-6007-10',
 '0641-6013-10',
 '0641-6039-01',
 '0641-6044-25',
 '0641-6052-25',
 '0641-6053-25',
 '0641-6088-98',
 '0641-6137-10',
 '0641-6149-10',
 '0641-6173-10',
 '0641-6174-10',
 '0703-0113-03',
 '0703-3427-11',
 '0703-3675-01',
 '0703-4239-01',
 '0703-4248-01',
 '0703-4248-95',
 '0703-5656-01',
 '0781-2103-01',
 '0781-3059-95',
 '0781-3208-99',
 '0781-3404-95',
 '0781-3451-97',
 '0781-9250-95',
 '0944-0493-01',
 '0944-0493-95',
 '0944-0495-05',
 '0944-2700-02',
 '0944-2700-03',
 '0944-2700-04',
 '0944-2700-05',
 '0955-1003-10',
 '0955-1004-10',
 '0955-1006-10',
 '0955-1010-10',
 '0955-1012-10',
 '0955-1015-10',
 '10019-925-01',
 '12496-1202-1',
 '13533-318-01',
 '13533-636-30',
 '13533-636-50',
 '16729-261-29',
 '16729-298-05',
 '17478-538-02',
 '17478-542-02',
 '17478-546-02',
 '17478-761-06',
 '23155-258-31',
 '23155-294-42',
 '23155-313-31',
 '23155-547-42',
 '25021-105-10',
 '25021-127-20',
 '25021-158-99',
 '25021-201-10',
 '25021-301-99',
 '25021-315-01',
 '25021-400-10',
 '25021-791-20',
 '25021-826-82',
 '36000-008-24',
 '36000-009-24',
 '36000-046-24',
 '36000-048-24',
 '36000-306-60',
 '39822-0412-6',
 '42023-119-25',
 '42023-221-10',
 '42806-151-34',
 '42806-400-01',
 '43066-150-10',
 '43066-360-20',
 '43598-305-62',
 '43598-848-58',
 '44206-300-01',
 '44567-236-10',
 '44567-611-10',
 '44567-701-25',
 '47781-357-03',
 '49281-215-15',
 '49281-252-51',
 '50227-1080-5',
 '50242-040-62',
 '50242-041-64',
 '50242-044-13',
 '50242-051-21',
 '50242-053-06',
 '50242-085-27',
 '50242-136-01',
 '50242-138-01',
 '50242-214-01',
 '50242-215-01',
 '50419-423-01',
 '50474-970-75',
 '50632-010-01',
 '51144-050-01',
 '54288-103-10',
 '55111-653-01',
 '55111-678-02',
 '55111-680-02',
 '55111-688-52',
 '55150-114-20',
 '55150-127-15',
 '55150-173-01',
 '55150-304-25',
 '55390-233-96',
 '55390-233-99',
 '55513-530-10',
 '55513-546-10',
 '57664-683-57',
 '57970-100-01',
 '58160-820-52',
 '58160-842-52',
 '58160-955-09',
 '58160-976-20',
 '58468-0123-1',
 '59137-231-01',
 '59746-113-06',
 '60505-6142-5',
 '60505-6143-4',
 '60505-6145-4',
 '60505-6146-4',
 '60505-6150-5',
 '60505-6157-4',
 '60505-6159-4',
 '60793-700-01',
 '60793-701-10',
 '61314-318-01',
 '61314-326-01',
 '61314-866-01',
 '61703-326-18',
 '61703-408-41',
 '61958-2901-2',
 '63323-010-02',
 '63323-012-11',
 '63323-013-02',
 '63323-064-11',
 '63323-064-99',
 '63323-104-05',
 '63323-106-05',
 '63323-106-15',
 '63323-107-05',
 '63323-161-01',
 '63323-162-01',
 '63323-165-01',
 '63323-165-05',
 '63323-165-30',
 '63323-173-02',
 '63323-180-01',
 '63323-187-95',
 '63323-203-20',
 '63323-221-96',
 '63323-229-30',
 '63323-260-37',
 '63323-269-65',
 '63323-280-02',
 '63323-285-23',
 '63323-285-61',
 '63323-285-96',
 '63323-286-35',
 '63323-288-10',
 '63323-293-37',
 '63323-294-27',
 '63323-325-20',
 '63323-360-19',
 '63323-369-96',
 '63323-376-01',
 '63323-377-01',
 '63323-378-05',
 '63323-388-98',
 '63323-398-10',
 '63323-403-02',
 '63323-403-94',
 '63323-452-01',
 '63323-454-01',
 '63323-523-74',
 '63323-593-03',
 '63323-614-01',
 '63323-616-03',
 '63323-664-01',
 '63323-728-10',
 '63323-729-10',
 '63323-812-20',
 '63323-963-30',
 '63323-965-20',
 '63833-386-02',
 '63833-387-02',
 '64253-222-35',
 '64253-333-35',
 '64380-725-06',
 '64380-726-06',
 '64679-700-03',
 '65250-266-09',
 '65649-551-02',
 '66288-1100-1',
 '66288-1300-1',
 '66288-6100-1',
 '66689-307-08',
 '66993-844-35',
 '66993-845-35',
 '67457-220-05',
 '67457-323-25',
 '67457-340-01',
 '67457-430-10',
 '67457-433-22',
 '67457-473-22',
 '67457-675-02',
 '67457-833-06',
 '67457-889-10',
 '68084-221-01',
 '68084-229-01',
 '68084-449-01',
 '68084-879-25',
 '68382-520-01',
 '68462-583-85',
 '68547-501-02',
 '69238-1594-3',
 '69361-016-99',
 '69361-017-99',
 '69374-321-25',
 '69374-559-30',
 '69374-942-04',
 '69784-002-06',
 '69784-003-06',
 '70069-071-01',
 '70092-1046-46',
 '70092-1086-44',
 '70092-1093-37',
 '70092-1380-36',
 '70092-1418-36',
 '70092-1506-36',
 '70121-1049-5',
 '70594-034-01',
 '71285-6044-1',
 '71286-2010-1',
 '71288-403-02',
 '72196-6044-1',
 '72611-761-10',
 '76045-004-11',
 '76045-005-11',
 '76045-008-10',
 '76329-1240-1',
 '76329-1912-1',
 '76329-3340-1',
 '76329-3369-1',
 '78206-145-01',
 '9999-9997-19',
 '9999-9997-20',
 '99999-012-94',
 '99999-015-94',
 '99999-018-99',
 '99999-019-99',
 '99999-020-99',
 '99999-117-99',
 '99999-124-99',
 '99999-125-99',
 '99999-161-99',
 '99999-163-99',
 '99999-353-99',
 '99999-355-99',
 '99999-381-99',
 '99999-390-99',
 '99999-412-99',
 '99999-478-99',
 '99999-479-99',
 '99999-482-99',
 '99999-484-99',
 '99999-502-99',
 '99999-521-99',
 '99999-561-99',
 '99999-562-99',
 '99999-563-99',
 '99999-573-99',
 '99999-576-99',
 '99999-578-99',
 '99999-581-99',
 '99999-582-99',
 '99999-583-99',
 '99999-589-99',
 '99999-594-99',
 '99999-623-99',
 '99999-630-99',
 '99999-644-99',
 '99999-652-99',
 '99999-654-99',
 '99999-655-99',
 '99999-657-99',
 '99999-665-99',
 '99999-667-99',
 '99999-668-99',
 '99999-676-99',
 '99999-685-99',
 '99999-687-99',
 '99999-689-99',
 '99999-690-99',
 '99999-703-99',
 '99999-714-99',
 '99999-715-99',
 '99999-719-99',
 '99999-725-99',
 '99999-730-99',
 '99999-738-99',
 '99999-739-99',
 '99999-741-99',
 '99999-758-99',
 '99999-809-99',
 '99999-818-99',
 '99999-819-99',
 '99999-851-99',
 '99999-873-99',
 '99999-875-99',
 '99999-876-99',
 '99999-887-99',
 '99999-921-99',
 '99999-939-99',
 '99999-950-99',
 '99999-953-99',
 '99999-954-99',
 '99999-960-99',
 '99999-961-99',
 '99999-963-99',
 '99999-966-99',
 '99999-967-99',
 '99999-997-18',
 nan}

In [12]:
def get_payer_category_from_payer_name(payer_name):
    if payer_name == "Min":
        return "min"
    elif payer_name == "Max":
        return "max"
    elif payer_name == "Self_Pay":
        return "cash"
    elif payer_name.endswith("_Fee"):
        return "gross"

    return "payer"

df_mid['payer_category'] = df_mid['payer_name'].apply(get_payer_category_from_payer_name)
df_mid

,line_type,code,description,rev_code,hcpcs_cpt,ndc,payer_name,standard_charge,local_code,payer_category
0,CHARGE,10000002,ROOM CHARGE MED SURG,0121,None,NaN,_1_1_23_Fee,1770.00,None,gross
1,CHARGE,10000003,ROOM CHARGE WOMEN'S HEALTH,0122,None,NaN,_1_1_23_Fee,1770.00,None,gross
2,CHARGE,10000004,ROOM CHARGE PEDIATRICS,0123,None,NaN,_1_1_23_Fee,1770.00,None,gross
3,CHARGE,10000005,ROOM CHARGE NURSERY LEVEL 1,0171,None,NaN,_1_1_23_Fee,1650.00,None,gross
4,CHARGE,10000008,ROOM CHARGE ICU OR CCU,0200,None,NaN,_1_1_23_Fee,4070.00,None,gross
...,...,...,...,...,...,...,...,...,...,...
111809,OP PROC*,66984,XCAPSL CTRC RMVL W/O ECP,NaN,NaN,NaN,Max,12331.01,None,max
111810,OP PROC*,69436,CREATE EARDRUM OPENING,NaN,NaN,NaN,Max,11606.12,None,max
111811,OP PROC*,G0105,COLORECTAL SCRN; HI RISK IND,NaN,NaN,NaN,Max,6453.61,None,max
111812,OP PROC*,G0121,COLON CA SCRN NOT HI RSK IND,NaN,NaN,NaN,Max,6476.92,None,max
111813,OP PROC*,G0260,INJ FOR SACROILIAC JT ANESTH,NaN,NaN,NaN,Max,2188.19,None,max

In [13]:
set(df_mid['line_type'].to_list())

{'CHARGE', 'IP DRG*', 'OP PROC*'}

In [14]:
df_mid.loc[df_mid['line_type'] == 'IP DRG*', 'setting'] = 'inpatient'
df_mid.loc[df_mid['line_type'] == 'OP PROC*', 'setting'] = 'outpatient'
df_mid

,line_type,code,description,rev_code,hcpcs_cpt,ndc,payer_name,standard_charge,local_code,payer_category,setting
0,CHARGE,10000002,ROOM CHARGE MED SURG,0121,None,NaN,_1_1_23_Fee,1770.00,None,gross,NaN
1,CHARGE,10000003,ROOM CHARGE WOMEN'S HEALTH,0122,None,NaN,_1_1_23_Fee,1770.00,None,gross,NaN
2,CHARGE,10000004,ROOM CHARGE PEDIATRICS,0123,None,NaN,_1_1_23_Fee,1770.00,None,gross,NaN
3,CHARGE,10000005,ROOM CHARGE NURSERY LEVEL 1,0171,None,NaN,_1_1_23_Fee,1650.00,None,gross,NaN
4,CHARGE,10000008,ROOM CHARGE ICU OR CCU,0200,None,NaN,_1_1_23_Fee,4070.00,None,gross,NaN
...,...,...,...,...,...,...,...,...,...,...,...
111809,OP PROC*,66984,XCAPSL CTRC RMVL W/O ECP,NaN,NaN,NaN,Max,12331.01,None,max,outpatient
111810,OP PROC*,69436,CREATE EARDRUM OPENING,NaN,NaN,NaN,Max,11606.12,None,max,outpatient
111811,OP PROC*,G0105,COLORECTAL SCRN; HI RISK IND,NaN,NaN,NaN,Max,6453.61,None,max,outpatient
111812,OP PROC*,G0121,COLON CA SCRN NOT HI RSK IND,NaN,NaN,NaN,Max,6476.92,None,max,outpatient
111813,OP PROC*,G0260,INJ FOR SACROILIAC JT ANESTH,NaN,NaN,NaN,Max,2188.19,None,max,outpatient

In [15]:
df_mid['ms_drg'] = None

def set_code_fields(row):
    code = row['code']

    if type(row['hcpcs_cpt']) != str:
        if code_is_cpt(code) or code_is_hcpcs(code):
            row['hcpcs_cpt'] = code

    if code_is_ms_drg(code):
        row['ms_drg'] = code

    return row

df_mid = df_mid.apply(set_code_fields, axis=1)
df_mid

,line_type,code,description,rev_code,hcpcs_cpt,ndc,payer_name,standard_charge,local_code,payer_category,setting,ms_drg
0,CHARGE,10000002,ROOM CHARGE MED SURG,0121,None,NaN,_1_1_23_Fee,1770.00,None,gross,NaN,None
1,CHARGE,10000003,ROOM CHARGE WOMEN'S HEALTH,0122,None,NaN,_1_1_23_Fee,1770.00,None,gross,NaN,None
2,CHARGE,10000004,ROOM CHARGE PEDIATRICS,0123,None,NaN,_1_1_23_Fee,1770.00,None,gross,NaN,None
3,CHARGE,10000005,ROOM CHARGE NURSERY LEVEL 1,0171,None,NaN,_1_1_23_Fee,1650.00,None,gross,NaN,None
4,CHARGE,10000008,ROOM CHARGE ICU OR CCU,0200,None,NaN,_1_1_23_Fee,4070.00,None,gross,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...
111809,OP PROC*,66984,XCAPSL CTRC RMVL W/O ECP,NaN,66984,NaN,Max,12331.01,None,max,outpatient,None
111810,OP PROC*,69436,CREATE EARDRUM OPENING,NaN,69436,NaN,Max,11606.12,None,max,outpatient,None
111811,OP PROC*,G0105,COLORECTAL SCRN; HI RISK IND,NaN,G0105,NaN,Max,6453.61,None,max,outpatient,None
111812,OP PROC*,G0121,COLON CA SCRN NOT HI RSK IND,NaN,G0121,NaN,Max,6476.92,None,max,outpatient,None
111813,OP PROC*,G0260,INJ FOR SACROILIAC JT ANESTH,NaN,G0260,NaN,Max,2188.19,None,max,outpatient,None

In [16]:
df_mid['hospital_id'] = ccn
df_mid['apr_drg'] = None
df_mid['eapg'] = None
df_mid['modifiers'] = None
df_mid['alt_hcpcs_cpt'] = None
df_mid['thru'] = None
df_mid['apc'] = None
df_mid['icd'] = None
df_mid['drug_hcpcs_multiplier'] = None
df_mid['drug_quantity'] = None
df_mid['drug_unit_of_measurement'] = None
df_mid['drug_type_of_measurement'] = None
df_mid['plan_name'] = None
df_mid['standard_charge_percent'] = None
df_mid['contracting_method'] = None
df_mid['additional_generic_notes'] = None
df_mid['additional_payer_specific_notes'] = None
df_mid['billing_class'] = None

df_mid

,line_type,code,description,rev_code,hcpcs_cpt,ndc,payer_name,standard_charge,local_code,payer_category,...,drug_hcpcs_multiplier,drug_quantity,drug_unit_of_measurement,drug_type_of_measurement,plan_name,standard_charge_percent,contracting_method,additional_generic_notes,additional_payer_specific_notes,billing_class
0,CHARGE,10000002,ROOM CHARGE MED SURG,0121,None,NaN,_1_1_23_Fee,1770.00,None,gross,...,None,None,None,None,None,None,None,None,None,None
1,CHARGE,10000003,ROOM CHARGE WOMEN'S HEALTH,0122,None,NaN,_1_1_23_Fee,1770.00,None,gross,...,None,None,None,None,None,None,None,None,None,None
2,CHARGE,10000004,ROOM CHARGE PEDIATRICS,0123,None,NaN,_1_1_23_Fee,1770.00,None,gross,...,None,None,None,None,None,None,None,None,None,None
3,CHARGE,10000005,ROOM CHARGE NURSERY LEVEL 1,0171,None,NaN,_1_1_23_Fee,1650.00,None,gross,...,None,None,None,None,None,None,None,None,None,None
4,CHARGE,10000008,ROOM CHARGE ICU OR CCU,0200,None,NaN,_1_1_23_Fee,4070.00,None,gross,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111809,OP PROC*,66984,XCAPSL CTRC RMVL W/O ECP,NaN,66984,NaN,Max,12331.01,None,max,...,None,None,None,None,None,None,None,None,None,None
111810,OP PROC*,69436,CREATE EARDRUM OPENING,NaN,69436,NaN,Max,11606.12,None,max,...,None,None,None,None,None,None,None,None,None,None
111811,OP PROC*,G0105,COLORECTAL SCRN; HI RISK IND,NaN,G0105,NaN,Max,6453.61,None,max,...,None,None,None,None,None,None,None,None,None,None
111812,OP PROC*,G0121,COLON CA SCRN NOT HI RSK IND,NaN,G0121,NaN,Max,6476.92,None,max,...,None,None,None,None,None,None,None,None,None,None
111813,OP PROC*,G0260,INJ FOR SACROILIAC JT ANESTH,NaN,G0260,NaN,Max,2188.19,None,max,...,None,None,None,None,None,None,None,None,None,None

In [17]:
df_mid = df_mid[df_mid['standard_charge'].notnull()]
df_mid.shape

(111814, 30)

In [18]:
df_out = pd.DataFrame(df_mid[TARGET_COLUMNS])
df_out

,hospital_id,line_type,description,rev_code,local_code,code,ms_drg,apr_drg,eapg,hcpcs_cpt,...,billing_class,setting,payer_category,payer_name,plan_name,standard_charge,standard_charge_percent,contracting_method,additional_generic_notes,additional_payer_specific_notes
0,520034,CHARGE,ROOM CHARGE MED SURG,0121,None,10000002,None,None,None,None,...,None,NaN,gross,_1_1_23_Fee,None,1770.00,None,None,None,None
1,520034,CHARGE,ROOM CHARGE WOMEN'S HEALTH,0122,None,10000003,None,None,None,None,...,None,NaN,gross,_1_1_23_Fee,None,1770.00,None,None,None,None
2,520034,CHARGE,ROOM CHARGE PEDIATRICS,0123,None,10000004,None,None,None,None,...,None,NaN,gross,_1_1_23_Fee,None,1770.00,None,None,None,None
3,520034,CHARGE,ROOM CHARGE NURSERY LEVEL 1,0171,None,10000005,None,None,None,None,...,None,NaN,gross,_1_1_23_Fee,None,1650.00,None,None,None,None
4,520034,CHARGE,ROOM CHARGE ICU OR CCU,0200,None,10000008,None,None,None,None,...,None,NaN,gross,_1_1_23_Fee,None,4070.00,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111809,520034,OP PROC*,XCAPSL CTRC RMVL W/O ECP,NaN,None,66984,None,None,None,66984,...,None,outpatient,max,Max,None,12331.01,None,None,None,None
111810,520034,OP PROC*,CREATE EARDRUM OPENING,NaN,None,69436,None,None,None,69436,...,None,outpatient,max,Max,None,11606.12,None,None,None,None
111811,520034,OP PROC*,COLORECTAL SCRN; HI RISK IND,NaN,None,G0105,None,None,None,G0105,...,None,outpatient,max,Max,None,6453.61,None,None,None,None
111812,520034,OP PROC*,COLON CA SCRN NOT HI RSK IND,NaN,None,G0121,None,None,None,G0121,...,None,outpatient,max,Max,None,6476.92,None,None,None,None
111813,520034,OP PROC*,INJ FOR SACROILIAC JT ANESTH,NaN,None,G0260,None,None,None,G0260,...,None,outpatient,max,Max,None,2188.19,None,None,None,None

In [19]:
df_out.to_csv('rate_' + ccn + '.csv', index=False)

In [22]:
date_str = df_in.columns[7]
date_str = date_str[1:-4]
day, month, year = date_str.split('_')
day = int(day)
month = int(month)
year = int(year) + 2000

last_updated = date(year

'1_1_23'