In [1]:
import subprocess

import pandas as pd

from helpers import *

In [2]:
TARGET_COLUMNS = [
    "hospital_id",
    #'row_id',
    "line_type",
    "description",
    "rev_code",
    "local_code",
    "code",
    "ms_drg",
    "apr_drg",
    "eapg",
    "hcpcs_cpt",
    "modifiers",
    "alt_hcpcs_cpt",
    "thru",
    "apc",
    "icd",
    "ndc",
    "drug_hcpcs_multiplier",
    "drug_quantity",
    "drug_unit_of_measurement",
    "drug_type_of_measurement",
    "billing_class",
    "setting",
    "rate_category",
    "payer_name",
    "plan_name",
    "standard_charge",
    "standard_charge_percent",
    "contracting_method",
    "additional_generic_notes",
    "additional_payer_specific_notes",
]

In [20]:
TRANSPARENCY_PAGE = "https://www.driscollchildrens.org/patients-family/services-support/patient-and-family-services/billing-financial-information/price"
ccn = "453301"
url = "https://www.driscollchildrens.org/sites/default/files/2023-07/74-2577746_Driscoll%20Childrens%20Hospital_standardcharges0723%20%281%29.xlsx"
filename = derive_filename_from_url(url)
filename

'74-2577746_Driscoll Childrens Hospital_standardcharges0723 (1).xlsx'

In [4]:
subprocess.run(["wget", "--no-clobber", url, "-O", filename])

File ‘74-2577746_Driscoll Childrens Hospital_standardcharges0723 (1).xlsx’ already there; not retrieving.

CompletedProcess(args=['wget', '--no-clobber', 'https://www.driscollchildrens.org/sites/default/files/2023-07/74-2577746_Driscoll%20Childrens%20Hospital_standardcharges0723%20%281%29.xlsx', '-O', '74-2577746_Driscoll Childrens Hospital_standardcharges0723 (1).xlsx'], returncode=1)

In [5]:
df_in = pd.read_excel(filename, dtype=str, header=1)
df_in

,CODE TYPE,CHARGE CODE,PROCEDURE DESCRIPTION,CPT/HCPCS CODE,REV CODE,NDC,GROSS CHARGES,SELF PAY\nCASH PRICE,MIN NEOGOTIATED RATE,MAX NEOGOTIATED RATE,...,SUPERIOR HEALTH PLAN\nIP RATE,SUPERIOR HEALTH PLAN\nOP RATE,TRICARE\nIP RATE,TRICARE\nOP RATE,TRIWEST\nIP RATE,TRIWEST\nOP RATE,UNITED HEALTHCARE\nIP RATE,UNITED HEALTHCARE\nOP RATE,UTMB CORRECT. MGED. CARE\nIP RATE,UTMB CORRECT. MGED. CARE\nOP RATE
0,CDM,1100000,Hchg Private,NaN,110,NaN,6869,2404.15,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CDM,1100001,Hchg Semi-Private,NaN,120,NaN,6869,2404.15,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CDM,1710000,Hchg Neonate Level 1,NaN,171,NaN,6856,2399.6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CDM,1720000,Hchg Neonate Level 2,NaN,172,NaN,10750,3762.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CDM,1730000,Hchg Neonate Level 3,NaN,173,NaN,14658,5130.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12851,DRG,APR930,Multiple Significant Trauma W/O O.R. Procedure,APR DRG V38 (FY 22/23) 930,NaN,NaN,NaN,NaN,12970.09,61989.33,...,13447.52,NaN,12970.09,NaN,12970.09,NaN,NaN,NaN,NaN,NaN
12852,DRG,APR950,Extensive Procedure Unrelated To Principal Dia...,APR DRG V38 (FY 22/23) 950,NaN,NaN,NaN,NaN,15523.42,56530.23,...,15523.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12853,DRG,APR951,Moderately Extensive Procedure Unrelated To Pr...,APR DRG V38 (FY 22/23) 951,NaN,NaN,NaN,NaN,13002.45,357426.52,...,24955.14,NaN,13896,NaN,48002.62,NaN,357426.52,NaN,27079.67,NaN
12854,DRG,APR952,Nonextensive Procedure Unrelated To Principal ...,APR DRG V38 (FY 22/23) 952,NaN,NaN,NaN,NaN,56462.95,157367.89,...,114304.26,NaN,NaN,NaN,NaN,NaN,131650.87,NaN,NaN,NaN
12855,DRG,APR956,Ungroupable,APR DRG V38 (FY 22/23) 956,NaN,NaN,NaN,NaN,6060.33,6060.33,...,6060.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_mid = pd.DataFrame(df_in)
df_mid = df_mid.rename(columns={
    'CODE TYPE': 'line_type',
    'CHARGE CODE': 'local_code',
    'PROCEDURE DESCRIPTION': 'description',
    'CPT/HCPCS CODE': 'code',
    'REV CODE': 'rev_code',
    'NDC': 'ndc'
})

df_mid.columns = list(map(lambda col: col.replace('\n' , ' ').strip(), df_mid.columns.to_list()))

df_mid

,line_type,local_code,description,code,rev_code,ndc,GROSS CHARGES,SELF PAY CASH PRICE,MIN NEOGOTIATED RATE,MAX NEOGOTIATED RATE,...,SUPERIOR HEALTH PLAN IP RATE,SUPERIOR HEALTH PLAN OP RATE,TRICARE IP RATE,TRICARE OP RATE,TRIWEST IP RATE,TRIWEST OP RATE,UNITED HEALTHCARE IP RATE,UNITED HEALTHCARE OP RATE,UTMB CORRECT. MGED. CARE IP RATE,UTMB CORRECT. MGED. CARE OP RATE
0,CDM,1100000,Hchg Private,NaN,110,NaN,6869,2404.15,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CDM,1100001,Hchg Semi-Private,NaN,120,NaN,6869,2404.15,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CDM,1710000,Hchg Neonate Level 1,NaN,171,NaN,6856,2399.6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CDM,1720000,Hchg Neonate Level 2,NaN,172,NaN,10750,3762.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CDM,1730000,Hchg Neonate Level 3,NaN,173,NaN,14658,5130.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12851,DRG,APR930,Multiple Significant Trauma W/O O.R. Procedure,APR DRG V38 (FY 22/23) 930,NaN,NaN,NaN,NaN,12970.09,61989.33,...,13447.52,NaN,12970.09,NaN,12970.09,NaN,NaN,NaN,NaN,NaN
12852,DRG,APR950,Extensive Procedure Unrelated To Principal Dia...,APR DRG V38 (FY 22/23) 950,NaN,NaN,NaN,NaN,15523.42,56530.23,...,15523.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12853,DRG,APR951,Moderately Extensive Procedure Unrelated To Pr...,APR DRG V38 (FY 22/23) 951,NaN,NaN,NaN,NaN,13002.45,357426.52,...,24955.14,NaN,13896,NaN,48002.62,NaN,357426.52,NaN,27079.67,NaN
12854,DRG,APR952,Nonextensive Procedure Unrelated To Principal ...,APR DRG V38 (FY 22/23) 952,NaN,NaN,NaN,NaN,56462.95,157367.89,...,114304.26,NaN,NaN,NaN,NaN,NaN,131650.87,NaN,NaN,NaN
12855,DRG,APR956,Ungroupable,APR DRG V38 (FY 22/23) 956,NaN,NaN,NaN,NaN,6060.33,6060.33,...,6060.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
money_columns = df_mid.columns.to_list()[6:]
money_columns

['GROSS CHARGES',
 'SELF PAY CASH PRICE',
 'MIN NEOGOTIATED RATE',
 'MAX NEOGOTIATED RATE',
 'AETNA IP RATE',
 'AETNA OP RATE',
 'BLUE CROSS BLUE SHIELD IP RATE',
 'BLUE CROSS BLUE SHIELD OP RATE',
 'BRAVO CIGNA HEALTH SPRINGS IP RATE',
 'BRAVO CIGNA HEALTH SPRINGS OP RATE',
 'CHRISTUS HEALTH PLAN IP RATE',
 'CHRISTUS HEALTH PLAN OP RATE',
 'CHRISTUS SPOHN HEALTH NET IP RATE',
 'CHRISTUS SPOHN HEALTH NET OP RATE',
 'CIGNA IP RATE',
 'CIGNA OP RATE',
 'COVENTRY HEALTH CARE IP RATE',
 'COVENTRY HEALTH CARE OP RATE',
 'DRISCOLL HEALTH PLAN IP RATE',
 'DRISCOLL HEALTH PLAN OP RATE',
 'EXCHANGE-BLUE CROSS BLUE SHIELD BLUE ADVANTAGE BAV IP RATE',
 'EXCHANGE-BLUE CROSS BLUE SHIELD BLUE ADVANTAGE BAV OP RATE',
 'FRIDAY HEALTH PLAN IP RATE',
 'FRIDAY HEALTH PLAN OP RATE',
 'GALAXY HEALTH INSURANCE IP RATE',
 'GALAXY HEALTH INSURANCE OP RATE',
 'HEALTH SMART IP RATE',
 'HEALTH SMART OP RATE',
 'HEALTHSMART IP RATE',
 'HEALTHSMART OP RATE',
 'HUMANA IP RATE',
 'HUMANA OP RATE',
 'HUMANA DCH EMPLOYEE INSURANCE IP RATE',
 'HUMANA DCH EMPLOYEE INSURANCE OP RATE',
 'INDEPENDENT MEDICAL SYSTEMS IP RATE',
 'INDEPENDENT MEDICAL SYSTEMS OP RATE',
 'MOLINA HEALTH PLANS OF TEXAS IP RATE',
 'MOLINA HEALTH PLANS OF TEXAS OP RATE',
 'MULTI PLAN, INC. IP RATE',
 'MULTI PLAN, INC. OP RATE',
 'OPTUM HEALTHCARE SOLUTIONS IP RATE IP RATE',
 'OPTUM HEALTHCARE SOLUTIONS IP RATE OP RATE',
 'POINT COMFORT UNDERWRITE INC IP RATE',
 'POINT COMFORT UNDERWRITE INC OP RATE',
 'SUPERIOR HEALTH PLAN IP RATE',
 'SUPERIOR HEALTH PLAN OP RATE',
 'TRICARE IP RATE',
 'TRICARE OP RATE',
 'TRIWEST IP RATE',
 'TRIWEST OP RATE',
 'UNITED HEALTHCARE IP RATE',
 'UNITED HEALTHCARE OP RATE',
 'UTMB CORRECT. MGED. CARE IP RATE',
 'UTMB CORRECT. MGED. CARE OP RATE']

In [8]:
remaining_columns = df_mid.columns.to_list()[:6]
df_mid = pd.melt(df_mid, id_vars=remaining_columns, var_name='payer_name', value_name='standard_charge')
df_mid

,line_type,local_code,description,code,rev_code,ndc,payer_name,standard_charge
0,CDM,1100000,Hchg Private,NaN,110,NaN,GROSS CHARGES,6869
1,CDM,1100001,Hchg Semi-Private,NaN,120,NaN,GROSS CHARGES,6869
2,CDM,1710000,Hchg Neonate Level 1,NaN,171,NaN,GROSS CHARGES,6856
3,CDM,1720000,Hchg Neonate Level 2,NaN,172,NaN,GROSS CHARGES,10750
4,CDM,1730000,Hchg Neonate Level 3,NaN,173,NaN,GROSS CHARGES,14658
...,...,...,...,...,...,...,...,...
694219,DRG,APR930,Multiple Significant Trauma W/O O.R. Procedure,APR DRG V38 (FY 22/23) 930,NaN,NaN,UTMB CORRECT. MGED. CARE OP RATE,NaN
694220,DRG,APR950,Extensive Procedure Unrelated To Principal Dia...,APR DRG V38 (FY 22/23) 950,NaN,NaN,UTMB CORRECT. MGED. CARE OP RATE,NaN
694221,DRG,APR951,Moderately Extensive Procedure Unrelated To Pr...,APR DRG V38 (FY 22/23) 951,NaN,NaN,UTMB CORRECT. MGED. CARE OP RATE,NaN
694222,DRG,APR952,Nonextensive Procedure Unrelated To Principal ...,APR DRG V38 (FY 22/23) 952,NaN,NaN,UTMB CORRECT. MGED. CARE OP RATE,NaN
694223,DRG,APR956,Ungroupable,APR DRG V38 (FY 22/23) 956,NaN,NaN,UTMB CORRECT. MGED. CARE OP RATE,NaN

In [9]:
df_mid = pd.DataFrame(df_mid[df_mid['standard_charge'].notnull()])
df_mid

,line_type,local_code,description,code,rev_code,ndc,payer_name,standard_charge
0,CDM,1100000,Hchg Private,NaN,110,NaN,GROSS CHARGES,6869
1,CDM,1100001,Hchg Semi-Private,NaN,120,NaN,GROSS CHARGES,6869
2,CDM,1710000,Hchg Neonate Level 1,NaN,171,NaN,GROSS CHARGES,6856
3,CDM,1720000,Hchg Neonate Level 2,NaN,172,NaN,GROSS CHARGES,10750
4,CDM,1730000,Hchg Neonate Level 3,NaN,173,NaN,GROSS CHARGES,14658
...,...,...,...,...,...,...,...,...
693963,CDM,3953014,Dietary Consult II,99242,942,NaN,UTMB CORRECT. MGED. CARE OP RATE,87.48
693964,CDM,9420002,Diabetes Training (per 30 Minutes),G0108,942,NaN,UTMB CORRECT. MGED. CARE OP RATE,118.8
693965,CDM,3953018,Dietary Consult IV,99244,942,NaN,UTMB CORRECT. MGED. CARE OP RATE,173.52
693966,CDM,9510001,"Therapeutic Exercises, Each 15 Minutes",97110,951,NaN,UTMB CORRECT. MGED. CARE OP RATE,70.56
693967,CDM,9510002,"Therapeutic Activities, Each 15 Minutes",97530,951,NaN,UTMB CORRECT. MGED. CARE OP RATE,86.04

In [10]:
df_mid.loc[df_mid['rev_code'].notnull(), 'rev_code'] = df_mid[df_mid['rev_code'].notnull()]['rev_code'].apply(
    lambda rev_code: str(int(rev_code)).zfill(4)
)

In [11]:
import numpy as np

df_mid['apr_drg'] = None
df_mid['hcpcs_cpt'] = None

df_mid.loc[df_mid['code'].isnull(), 'code'] = None

def split_off_codes(row):
    code = row.get('code')
    if code is None:
        return row

    if code.startswith('APR'):
        row['apr_drg'] = code.split(' ')[-1]
        return row

    if code_is_hcpcs(code) or code_is_cpt(code):
        row['hcpcs_cpt'] = code.upper()
        return row

    return row

df_mid = df_mid.apply(split_off_codes, axis=1)
df_mid

,line_type,local_code,description,code,rev_code,ndc,payer_name,standard_charge,apr_drg,hcpcs_cpt
0,CDM,1100000,Hchg Private,None,0110,NaN,GROSS CHARGES,6869,None,None
1,CDM,1100001,Hchg Semi-Private,None,0120,NaN,GROSS CHARGES,6869,None,None
2,CDM,1710000,Hchg Neonate Level 1,None,0171,NaN,GROSS CHARGES,6856,None,None
3,CDM,1720000,Hchg Neonate Level 2,None,0172,NaN,GROSS CHARGES,10750,None,None
4,CDM,1730000,Hchg Neonate Level 3,None,0173,NaN,GROSS CHARGES,14658,None,None
...,...,...,...,...,...,...,...,...,...,...
693963,CDM,3953014,Dietary Consult II,99242,0942,NaN,UTMB CORRECT. MGED. CARE OP RATE,87.48,None,99242
693964,CDM,9420002,Diabetes Training (per 30 Minutes),G0108,0942,NaN,UTMB CORRECT. MGED. CARE OP RATE,118.8,None,G0108
693965,CDM,3953018,Dietary Consult IV,99244,0942,NaN,UTMB CORRECT. MGED. CARE OP RATE,173.52,None,99244
693966,CDM,9510001,"Therapeutic Exercises, Each 15 Minutes",97110,0951,NaN,UTMB CORRECT. MGED. CARE OP RATE,70.56,None,97110
693967,CDM,9510002,"Therapeutic Activities, Each 15 Minutes",97530,0951,NaN,UTMB CORRECT. MGED. CARE OP RATE,86.04,None,97530

In [12]:
def rate_category_from_payer_name(payer_name):
    if payer_name == "GROSS CHARGES":
        return "gross"
    elif payer_name == "SELF PAY CASH PRICE":
        return "cash"
    elif payer_name == "MIN NEOGOTIATED RATE":
        return "min"
    elif payer_name == "MAX NEOGOTIATED RATE":
        return "max"

    return "negotiated"

df_mid['rate_category'] = df_mid['payer_name'].apply(rate_category_from_payer_name)

In [13]:
df_mid['rate_category'].value_counts()

rate_category
negotiated    248741
min            12842
max            12842
gross          12609
cash           12310
Name: count, dtype: int64

In [14]:
df_mid['payer_name'].value_counts()

payer_name
MIN NEOGOTIATED RATE                                          12842
MAX NEOGOTIATED RATE                                          12842
GROSS CHARGES                                                 12609
SELF PAY CASH PRICE                                           12310
POINT COMFORT UNDERWRITE INC OP RATE                          12295
CIGNA OP RATE                                                 12291
OPTUM HEALTHCARE SOLUTIONS IP RATE OP RATE                    12291
HUMANA DCH EMPLOYEE INSURANCE OP RATE                         12291
HUMANA OP RATE                                                12291
HEALTHSMART OP RATE                                           12291
GALAXY HEALTH INSURANCE OP RATE                               12291
FRIDAY HEALTH PLAN OP RATE                                    12291
EXCHANGE-BLUE CROSS BLUE SHIELD BLUE ADVANTAGE BAV OP RATE    12291
COVENTRY HEALTH CARE OP RATE                                  12291
HEALTH SMART OP RATE                                          12291
UTMB CORRECT. MGED. CARE OP RATE                              12291
CHRISTUS SPOHN HEALTH NET OP RATE                             12291
CHRISTUS HEALTH PLAN OP RATE                                  12291
UNITED HEALTHCARE OP RATE                                     12284
BLUE CROSS BLUE SHIELD OP RATE                                12270
AETNA OP RATE                                                 11590
SUPERIOR HEALTH PLAN OP RATE                                  10612
MOLINA HEALTH PLANS OF TEXAS OP RATE                          10520
DRISCOLL HEALTH PLAN OP RATE                                  10477
TRICARE OP RATE                                                3424
TRIWEST OP RATE                                                3417
SUPERIOR HEALTH PLAN IP RATE                                    226
MOLINA HEALTH PLANS OF TEXAS IP RATE                            225
BRAVO CIGNA HEALTH SPRINGS IP RATE                              225
BLUE CROSS BLUE SHIELD IP RATE                                  135
UNITED HEALTHCARE IP RATE                                        93
AETNA IP RATE                                                    89
HUMANA IP RATE                                                   88
CIGNA IP RATE                                                    85
OPTUM HEALTHCARE SOLUTIONS IP RATE IP RATE                       84
CHRISTUS HEALTH PLAN IP RATE                                     84
HEALTH SMART IP RATE                                             84
CHRISTUS SPOHN HEALTH NET IP RATE                                84
FRIDAY HEALTH PLAN IP RATE                                       84
TRIWEST IP RATE                                                  69
MULTI PLAN, INC. IP RATE                                         51
HEALTHSMART IP RATE                                              51
POINT COMFORT UNDERWRITE INC IP RATE                             51
INDEPENDENT MEDICAL SYSTEMS IP RATE                              51
UTMB CORRECT. MGED. CARE IP RATE                                 51
COVENTRY HEALTH CARE IP RATE                                     51
EXCHANGE-BLUE CROSS BLUE SHIELD BLUE ADVANTAGE BAV IP RATE       40
TRICARE IP RATE                                                  38
HUMANA DCH EMPLOYEE INSURANCE IP RATE                            30
Name: count, dtype: int64

In [15]:
df_mid

,line_type,local_code,description,code,rev_code,ndc,payer_name,standard_charge,apr_drg,hcpcs_cpt,rate_category
0,CDM,1100000,Hchg Private,None,0110,NaN,GROSS CHARGES,6869,None,None,gross
1,CDM,1100001,Hchg Semi-Private,None,0120,NaN,GROSS CHARGES,6869,None,None,gross
2,CDM,1710000,Hchg Neonate Level 1,None,0171,NaN,GROSS CHARGES,6856,None,None,gross
3,CDM,1720000,Hchg Neonate Level 2,None,0172,NaN,GROSS CHARGES,10750,None,None,gross
4,CDM,1730000,Hchg Neonate Level 3,None,0173,NaN,GROSS CHARGES,14658,None,None,gross
...,...,...,...,...,...,...,...,...,...,...,...
693963,CDM,3953014,Dietary Consult II,99242,0942,NaN,UTMB CORRECT. MGED. CARE OP RATE,87.48,None,99242,negotiated
693964,CDM,9420002,Diabetes Training (per 30 Minutes),G0108,0942,NaN,UTMB CORRECT. MGED. CARE OP RATE,118.8,None,G0108,negotiated
693965,CDM,3953018,Dietary Consult IV,99244,0942,NaN,UTMB CORRECT. MGED. CARE OP RATE,173.52,None,99244,negotiated
693966,CDM,9510001,"Therapeutic Exercises, Each 15 Minutes",97110,0951,NaN,UTMB CORRECT. MGED. CARE OP RATE,70.56,None,97110,negotiated
693967,CDM,9510002,"Therapeutic Activities, Each 15 Minutes",97530,0951,NaN,UTMB CORRECT. MGED. CARE OP RATE,86.04,None,97530,negotiated

In [16]:
df_mid['setting'] = None

df_mid.loc[df_mid['payer_name'].str.endswith("IP RATE"), 'setting'] = 'inpatient'
df_mid.loc[df_mid['payer_name'].str.endswith("OP RATE"), 'setting'] = 'outpatient'

df_mid[['payer_name', 'setting']].value_counts()

payer_name                                                  setting
POINT COMFORT UNDERWRITE INC OP RATE                        outpatient    12295
HEALTHSMART OP RATE                                         outpatient    12291
COVENTRY HEALTH CARE OP RATE                                outpatient    12291
OPTUM HEALTHCARE SOLUTIONS IP RATE OP RATE                  outpatient    12291
HUMANA OP RATE                                              outpatient    12291
HUMANA DCH EMPLOYEE INSURANCE OP RATE                       outpatient    12291
HEALTH SMART OP RATE                                        outpatient    12291
GALAXY HEALTH INSURANCE OP RATE                             outpatient    12291
FRIDAY HEALTH PLAN OP RATE                                  outpatient    12291
EXCHANGE-BLUE CROSS BLUE SHIELD BLUE ADVANTAGE BAV OP RATE  outpatient    12291
UTMB CORRECT. MGED. CARE OP RATE                            outpatient    12291
CIGNA OP RATE                                               outpatient    12291
CHRISTUS SPOHN HEALTH NET OP RATE                           outpatient    12291
CHRISTUS HEALTH PLAN OP RATE                                outpatient    12291
UNITED HEALTHCARE OP RATE                                   outpatient    12284
BLUE CROSS BLUE SHIELD OP RATE                              outpatient    12270
AETNA OP RATE                                               outpatient    11590
SUPERIOR HEALTH PLAN OP RATE                                outpatient    10612
MOLINA HEALTH PLANS OF TEXAS OP RATE                        outpatient    10520
DRISCOLL HEALTH PLAN OP RATE                                outpatient    10477
TRICARE OP RATE                                             outpatient     3424
TRIWEST OP RATE                                             outpatient     3417
SUPERIOR HEALTH PLAN IP RATE                                inpatient       226
MOLINA HEALTH PLANS OF TEXAS IP RATE                        inpatient       225
BRAVO CIGNA HEALTH SPRINGS IP RATE                          inpatient       225
BLUE CROSS BLUE SHIELD IP RATE                              inpatient       135
UNITED HEALTHCARE IP RATE                                   inpatient        93
AETNA IP RATE                                               inpatient        89
HUMANA IP RATE                                              inpatient        88
CIGNA IP RATE                                               inpatient        85
HEALTH SMART IP RATE                                        inpatient        84
CHRISTUS SPOHN HEALTH NET IP RATE                           inpatient        84
OPTUM HEALTHCARE SOLUTIONS IP RATE IP RATE                  inpatient        84
CHRISTUS HEALTH PLAN IP RATE                                inpatient        84
FRIDAY HEALTH PLAN IP RATE                                  inpatient        84
TRIWEST IP RATE                                             inpatient        69
UTMB CORRECT. MGED. CARE IP RATE                            inpatient        51
INDEPENDENT MEDICAL SYSTEMS IP RATE                         inpatient        51
HEALTHSMART IP RATE                                         inpatient        51
POINT COMFORT UNDERWRITE INC IP RATE                        inpatient        51
MULTI PLAN, INC. IP RATE                                    inpatient        51
COVENTRY HEALTH CARE IP RATE                                inpatient        51
EXCHANGE-BLUE CROSS BLUE SHIELD BLUE ADVANTAGE BAV IP RATE  inpatient        40
TRICARE IP RATE                                             inpatient        38
HUMANA DCH EMPLOYEE INSURANCE IP RATE                       inpatient        30
Name: count, dtype: int64

In [17]:
df_mid['hospital_id'] = ccn

df_mid['ms_drg'] = None
df_mid['eapg'] = None
df_mid['modifiers'] = None
df_mid['alt_hcpcs_cpt'] = None
df_mid['thru'] = None
df_mid['apc'] = None
df_mid['icd'] = None
df_mid['drug_hcpcs_multiplier'] = None
df_mid['drug_quantity'] = None
df_mid['drug_unit_of_measurement'] = None
df_mid['drug_type_of_measurement'] = None
df_mid['billing_class'] = None
df_mid['plan_name'] = None
df_mid['standard_charge_percent'] = None
df_mid['contracting_method'] = None
df_mid['additional_generic_notes'] = None
df_mid['additional_payer_specific_notes'] = None

df_mid

,line_type,local_code,description,code,rev_code,ndc,payer_name,standard_charge,apr_drg,hcpcs_cpt,...,drug_hcpcs_multiplier,drug_quantity,drug_unit_of_measurement,drug_type_of_measurement,billing_class,plan_name,standard_charge_percent,contracting_method,additional_generic_notes,additional_payer_specific_notes
0,CDM,1100000,Hchg Private,None,0110,NaN,GROSS CHARGES,6869,None,None,...,None,None,None,None,None,None,None,None,None,None
1,CDM,1100001,Hchg Semi-Private,None,0120,NaN,GROSS CHARGES,6869,None,None,...,None,None,None,None,None,None,None,None,None,None
2,CDM,1710000,Hchg Neonate Level 1,None,0171,NaN,GROSS CHARGES,6856,None,None,...,None,None,None,None,None,None,None,None,None,None
3,CDM,1720000,Hchg Neonate Level 2,None,0172,NaN,GROSS CHARGES,10750,None,None,...,None,None,None,None,None,None,None,None,None,None
4,CDM,1730000,Hchg Neonate Level 3,None,0173,NaN,GROSS CHARGES,14658,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693963,CDM,3953014,Dietary Consult II,99242,0942,NaN,UTMB CORRECT. MGED. CARE OP RATE,87.48,None,99242,...,None,None,None,None,None,None,None,None,None,None
693964,CDM,9420002,Diabetes Training (per 30 Minutes),G0108,0942,NaN,UTMB CORRECT. MGED. CARE OP RATE,118.8,None,G0108,...,None,None,None,None,None,None,None,None,None,None
693965,CDM,3953018,Dietary Consult IV,99244,0942,NaN,UTMB CORRECT. MGED. CARE OP RATE,173.52,None,99244,...,None,None,None,None,None,None,None,None,None,None
693966,CDM,9510001,"Therapeutic Exercises, Each 15 Minutes",97110,0951,NaN,UTMB CORRECT. MGED. CARE OP RATE,70.56,None,97110,...,None,None,None,None,None,None,None,None,None,None
693967,CDM,9510002,"Therapeutic Activities, Each 15 Minutes",97530,0951,NaN,UTMB CORRECT. MGED. CARE OP RATE,86.04,None,97530,...,None,None,None,None,None,None,None,None,None,None

In [18]:
df_out = pd.DataFrame(df_mid[TARGET_COLUMNS])
df_out

,hospital_id,line_type,description,rev_code,local_code,code,ms_drg,apr_drg,eapg,hcpcs_cpt,...,billing_class,setting,rate_category,payer_name,plan_name,standard_charge,standard_charge_percent,contracting_method,additional_generic_notes,additional_payer_specific_notes
0,453301,CDM,Hchg Private,0110,1100000,None,None,None,None,None,...,None,None,gross,GROSS CHARGES,None,6869,None,None,None,None
1,453301,CDM,Hchg Semi-Private,0120,1100001,None,None,None,None,None,...,None,None,gross,GROSS CHARGES,None,6869,None,None,None,None
2,453301,CDM,Hchg Neonate Level 1,0171,1710000,None,None,None,None,None,...,None,None,gross,GROSS CHARGES,None,6856,None,None,None,None
3,453301,CDM,Hchg Neonate Level 2,0172,1720000,None,None,None,None,None,...,None,None,gross,GROSS CHARGES,None,10750,None,None,None,None
4,453301,CDM,Hchg Neonate Level 3,0173,1730000,None,None,None,None,None,...,None,None,gross,GROSS CHARGES,None,14658,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693963,453301,CDM,Dietary Consult II,0942,3953014,99242,None,None,None,99242,...,None,outpatient,negotiated,UTMB CORRECT. MGED. CARE OP RATE,None,87.48,None,None,None,None
693964,453301,CDM,Diabetes Training (per 30 Minutes),0942,9420002,G0108,None,None,None,G0108,...,None,outpatient,negotiated,UTMB CORRECT. MGED. CARE OP RATE,None,118.8,None,None,None,None
693965,453301,CDM,Dietary Consult IV,0942,3953018,99244,None,None,None,99244,...,None,outpatient,negotiated,UTMB CORRECT. MGED. CARE OP RATE,None,173.52,None,None,None,None
693966,453301,CDM,"Therapeutic Exercises, Each 15 Minutes",0951,9510001,97110,None,None,None,97110,...,None,outpatient,negotiated,UTMB CORRECT. MGED. CARE OP RATE,None,70.56,None,None,None,None
693967,453301,CDM,"Therapeutic Activities, Each 15 Minutes",0951,9510002,97530,None,None,None,97530,...,None,outpatient,negotiated,UTMB CORRECT. MGED. CARE OP RATE,None,86.04,None,None,None,None

In [19]:
df_out.to_csv('rate_' + ccn + '.csv', index=False)