In [1]:
import subprocess

import pandas as pd

In [2]:
TARGET_COLUMNS = [
    'hospital_id',
    #'row_id',
    'line_type',
    'description',
    'rev_code',
    'local_code',
    'code',
    'ms_drg',
    'apr_drg',
    'eapg',
    'hcpcs_cpt',
    'modifiers',
    'alt_hcpcs_cpt',
    'thru',
    'apc',
    'icd',
    'ndc',
    'drug_hcpcs_multiplier',
    'drug_quantity',
    'drug_unit_of_measurement',
    'drug_type_of_measurement',
    'billing_class',
    'setting',
    'payer_category',
    'payer_name',
    'plan_name',
    'standard_charge',
    'standard_charge_percent',
    'contracting_method',
    'additional_generic_notes',
    'additional_payer_specific_notes'
]

In [3]:
# https://www.texashealth.org/Costs-and-Billing/Hospital-Charge-Information
ccn = "452018"
url = "https://www.texashealth.org/-/media/Project/THR/shared/Documents/PDFs/Business-Office/Pricing/Machine-Readable-Files/751648589_texas-health-specialty-hospital-fort-worth_standardcharges.csv"
filename = url.split("/")[-1]
ein = filename.split("_")[0]
ein = ein[:2] + "-" + ein[2:]
ein

'75-1648589'

In [4]:
subprocess.run(["wget", "--no-clobber", url, "-O", filename])

File ‘751648589_texas-health-specialty-hospital-fort-worth_standardcharges.csv’ already there; not retrieving.

CompletedProcess(args=['wget', '--no-clobber', 'https://www.texashealth.org/-/media/Project/THR/shared/Documents/PDFs/Business-Office/Pricing/Machine-Readable-Files/751648589_texas-health-specialty-hospital-fort-worth_standardcharges.csv', '-O', '751648589_texas-health-specialty-hospital-fort-worth_standardcharges.csv'], returncode=1)

In [5]:
# HACK
from io import StringIO

in_f = open(filename, "r", encoding='latin-1')
lines = in_f.read().split('\n')
in_f.close()

lines = lines[2:]
csv_str_buf = StringIO('\n'.join(lines))

lines[:5]

["GenlDescr,Package Type,Code Type,RevCode,Code,NDC,Charge Quantity,Price,Min IP TR,Max IP TR,Min IP,Max IP,Aetna ASA IP,Aetna Coventry IP TR,Aetna Coventry IP,BCBS Traditional IP,ChoiceCare POB All Payer IP TR,ChoiceCare POB All Payer IP,ChoiceCare PPO All Payer IP TR,ChoiceCare PPO All Payer IP,Cigna Indemnity IP,City of Fort Worth IP,Galaxy IP TR,Galaxy IP,Healthscope Benefits IP,Multiplan IP,Self Pay IP,USA MCO IP TR,USA MCO IP,WebTPA IP,FWFF IP TR,FWFF IP,UHC All Payer IP,UHC All Payer IP TR,UHC Options PPO IP,UHC Options PPO IP TR,Aetna Commercial IP,Aetna Commercial IP TR,Texas Health Aetna FI IP,Texas Health Aetna SI IP,Cigna Managed Care IP,Cigna PPO IP,BCBS BAV IP,BCBS PPO IP,BCBS HMO IP,BCBS MyBlueHealth IP,Healthsmart B1 IP TR,Healthsmart B1 IP,PHCS PPO IP TR,PHCS PPO IP,QT PPO IP TR,QT PPO IP,United Commercial BH IP,United Medicare BH IP,United Medicaid BH IP,Beacon Medicaid BH IP,Beacon Commercial BH IP,Cigna BH IP,Amerigroup Medicaid IP,Superior BH IP,Cook Children's Medicaid IP,BCBS Medicaid IP,United Medicaid IP,Molina Medicaid IP,Parkland Medicaid IP,Superior Medicaid IP,Aetna Medicaid IP,Aetna MA HMO IP,Aetna MA PPO IP,American Health Plan MA HMO IP,BCBS MA HMO IP,BCBS MA PPO IP,BCBS MA DSNP IP,CNC MA HMO IP,CNC MA PPO IP,Humana MA HMO IP,Superior Wellcare BH MA HMO IP,Superior Wellcare BH MA MMP IP,United PPO MA IP,Healthspring MA HMO IP,Healthspring MA PPO IP,United MA HMO IP,Amerigroup MA HMO IP,Amerigroup MMP IP,Humana MA PPO/PFFS IP,Molina MA HMO IP,Molina MMP IP,Superior/Wellcare MA HMO IP,Superior/Wellcare MMP IP,TH Aetna Broad IP,TH Aetna Broad IP TR",
 'PLASMA PHERESIS,N/A,CPT,940,36514,N/A,N/A,"3,841.00","2,407.54","3,841.00","1,797.59","3,614.38","2,707.91","2,850.02","1,885.93","3,072.80","3,841.00","3,572.13","3,572.13","2,880.75","3,614.38","1,797.59","3,648.95","3,380.08","2,688.70","3,341.67","2,688.70","3,648.95","3,380.08","2,304.60","2,407.54","2,407.54",N/A,"2,857.70",N/A,"2,857.70",N/A,"2,957.57",N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,"3,648.95","3,226.44","3,518.36","3,211.08","2,995.98","2,727.11",N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,"2,957.57"',
 'INPATIENT ACUTE RENAL DIALYSIS,N/A,CPT,800,90935,N/A,N/A,"3,151.75","1,975.52","3,151.75","1,475.02","2,965.80","2,221.98","2,338.60","1,547.51","2,521.40","3,151.75","2,931.13","2,931.13","2,363.81","2,965.80","1,475.02","2,994.16","2,773.54","2,206.23","2,742.02","2,206.23","2,994.16","2,773.54","1,891.05","1,975.52","1,975.52",N/A,"2,344.90",N/A,"2,344.90",N/A,"2,426.85",N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,"2,994.16","2,647.47","2,887.00","2,634.86","2,458.37","2,237.74",N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,"2,426.85"',
 'RC 111 PRIVATE,N/A,N/A,111,NOCPT,N/A,N/A,"1,880.00","1,178.38","1,880.00",879.84,"1,769.08","1,325.40","1,394.96",923.08,"1,504.00","1,880.00","1,748.40","1,748.40","1,410.00","1,769.08",879.84,"1,786.00","1,654.40","1,316.00","1,635.60","1,316.00","1,786.00","1,654.40","1,128.00","1,178.38","1,178.38",N/A,"1,398.72",N/A,"1,398.72",N/A,"1,447.60",N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,"1,786.00","1,579.20","1,722.08","1,571.68","1,466.40","1,334.80",N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,"1,447.60"',
 'RC 121 SEMI PRIVATE,N/A,N/A,121,NOCPT,N/A,N/A,"1,760.00","1,103.17","1,760.00",823.68,"1,656.16","1,240.80","1,305.92",864.16,"1,408.00","1,760.00","1,636.80","1,636.80","1,320.00","1,656.16",823.68,"1,672.00","1,548.80","1,232.00","1,531.20","1,232.00","1,672.00","1,548.80","1,056.00","1,103.17","1,103.17",N/A,"1,309.44",N/A,"1,309.44",N/A,"1,355.20",N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,"1,672.00","1,478.40","1,612.16","1,471.36","1,372.80","1,249.60",N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,"1,355.20"']

In [6]:
df_in = pd.read_csv(csv_str_buf, encoding='latin-1',  
                    dtype={'RevCode': str},
                    low_memory=False)
df_in

,GenlDescr,Package Type,Code Type,RevCode,Code,NDC,Charge Quantity,Price,Min IP TR,Max IP TR,...,United MA HMO IP,Amerigroup MA HMO IP,Amerigroup MMP IP,Humana MA PPO/PFFS IP,Molina MA HMO IP,Molina MMP IP,Superior/Wellcare MA HMO IP,Superior/Wellcare MMP IP,TH Aetna Broad IP,TH Aetna Broad IP TR
0,PLASMA PHERESIS,NaN,CPT,940,36514,NaN,NaN,"3,841.00","2,407.54","3,841.00",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,957.57"
1,INPATIENT ACUTE RENAL DIALYSIS,NaN,CPT,800,90935,NaN,NaN,"3,151.75","1,975.52","3,151.75",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,426.85"
2,RC 111 PRIVATE,NaN,NaN,111,NOCPT,NaN,NaN,"1,880.00","1,178.38","1,880.00",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,447.60"
3,RC 121 SEMI PRIVATE,NaN,NaN,121,NOCPT,NaN,NaN,"1,760.00","1,103.17","1,760.00",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,355.20"
4,RC 111 PRIVATE W/ TELEMETRY,NaN,NaN,111,NOCPT,NaN,NaN,"4,045.00","2,535.41","4,045.00",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,114.65"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77625,DEXTROSE FLUSH RATE BASED,NaN,ERX,258,J7060,0338-0017-02,50 mL,50.00,31.34,50.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.06,38.50
77626,DEXTROSE FLUSH SOLUTION,NaN,ERX,258,J7060,0338-0017-10,25 mL,50.00,31.34,50.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.06,38.50
77627,OPT DEXTROSE 5% IN WATER 100 ML INTRAVENOUS SOLP,NaN,ERX,258,J7060,0338-0017-48,100 mL,50.00,31.34,50.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.06,38.50
77628,DEXTROSE 10 % IN WATER (D10W) 10 % INTRAVENOUS...,NaN,ERX,258,No CPT,0338-0023-02,250 mL,50.00,31.34,50.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.06,38.50
77629,DEXTROSE 10 % IN WATER (D10W) 10 % IV PUSH,NaN,ERX,258,No CPT,0338-0023-02,250 mL,50.00,31.34,50.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.06,38.50

In [7]:
df_mid = pd.DataFrame(df_in)
df_mid = df_mid.rename(columns={
    'GenlDescr': 'description',
    'Package Type': 'contracting_method',
    'Code Type': 'line_type',
    'RevCode': 'rev_code',
    'Code': 'code',
    'NDC': 'ndc',
    'Charge Quantity': 'drug_quantity',
})

df_mid

,description,contracting_method,line_type,rev_code,code,ndc,drug_quantity,Price,Min IP TR,Max IP TR,...,United MA HMO IP,Amerigroup MA HMO IP,Amerigroup MMP IP,Humana MA PPO/PFFS IP,Molina MA HMO IP,Molina MMP IP,Superior/Wellcare MA HMO IP,Superior/Wellcare MMP IP,TH Aetna Broad IP,TH Aetna Broad IP TR
0,PLASMA PHERESIS,NaN,CPT,940,36514,NaN,NaN,"3,841.00","2,407.54","3,841.00",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,957.57"
1,INPATIENT ACUTE RENAL DIALYSIS,NaN,CPT,800,90935,NaN,NaN,"3,151.75","1,975.52","3,151.75",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,426.85"
2,RC 111 PRIVATE,NaN,NaN,111,NOCPT,NaN,NaN,"1,880.00","1,178.38","1,880.00",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,447.60"
3,RC 121 SEMI PRIVATE,NaN,NaN,121,NOCPT,NaN,NaN,"1,760.00","1,103.17","1,760.00",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,355.20"
4,RC 111 PRIVATE W/ TELEMETRY,NaN,NaN,111,NOCPT,NaN,NaN,"4,045.00","2,535.41","4,045.00",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,114.65"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77625,DEXTROSE FLUSH RATE BASED,NaN,ERX,258,J7060,0338-0017-02,50 mL,50.00,31.34,50.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.06,38.50
77626,DEXTROSE FLUSH SOLUTION,NaN,ERX,258,J7060,0338-0017-10,25 mL,50.00,31.34,50.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.06,38.50
77627,OPT DEXTROSE 5% IN WATER 100 ML INTRAVENOUS SOLP,NaN,ERX,258,J7060,0338-0017-48,100 mL,50.00,31.34,50.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.06,38.50
77628,DEXTROSE 10 % IN WATER (D10W) 10 % INTRAVENOUS...,NaN,ERX,258,No CPT,0338-0023-02,250 mL,50.00,31.34,50.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.06,38.50
77629,DEXTROSE 10 % IN WATER (D10W) 10 % IV PUSH,NaN,ERX,258,No CPT,0338-0023-02,250 mL,50.00,31.34,50.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.06,38.50

In [8]:
df_mid[['Min IP', 'Min IP TR']]

         Min IP Min IP TR
0      1,797.59  2,407.54
1      1,475.02  1,975.52
2        879.84  1,178.38
3        823.68  1,103.17
4      1,893.06  2,535.41
...         ...       ...
77625     22.06     31.34
77626     22.06     31.34
77627     22.06     31.34
77628     22.06     31.34
77629     22.06     31.34

[77630 rows x 2 columns]

In [9]:
from helpers import cleanup_values

money_columns = df_mid.columns[7:]
remaining_columns = df_mid.columns[:7]
df_mid[money_columns] = df_mid[money_columns].apply(cleanup_values)
df_mid = pd.melt(df_mid, id_vars=remaining_columns, var_name='payer_name', value_name='standard_charge')
df_mid

,description,contracting_method,line_type,rev_code,code,ndc,drug_quantity,payer_name,standard_charge
0,PLASMA PHERESIS,NaN,CPT,940,36514,NaN,NaN,Price,3841.00
1,INPATIENT ACUTE RENAL DIALYSIS,NaN,CPT,800,90935,NaN,NaN,Price,3151.75
2,RC 111 PRIVATE,NaN,NaN,111,NOCPT,NaN,NaN,Price,1880.00
3,RC 121 SEMI PRIVATE,NaN,NaN,121,NOCPT,NaN,NaN,Price,1760.00
4,RC 111 PRIVATE W/ TELEMETRY,NaN,NaN,111,NOCPT,NaN,NaN,Price,4045.00
...,...,...,...,...,...,...,...,...,...
6520915,DEXTROSE FLUSH RATE BASED,NaN,ERX,258,J7060,0338-0017-02,50 mL,TH Aetna Broad IP TR,38.50
6520916,DEXTROSE FLUSH SOLUTION,NaN,ERX,258,J7060,0338-0017-10,25 mL,TH Aetna Broad IP TR,38.50
6520917,OPT DEXTROSE 5% IN WATER 100 ML INTRAVENOUS SOLP,NaN,ERX,258,J7060,0338-0017-48,100 mL,TH Aetna Broad IP TR,38.50
6520918,DEXTROSE 10 % IN WATER (D10W) 10 % INTRAVENOUS...,NaN,ERX,258,No CPT,0338-0023-02,250 mL,TH Aetna Broad IP TR,38.50
6520919,DEXTROSE 10 % IN WATER (D10W) 10 % IV PUSH,NaN,ERX,258,No CPT,0338-0023-02,250 mL,TH Aetna Broad IP TR,38.50

In [10]:
set(df_mid['contracting_method'].to_list())

{'Case Rate', 'Per Diem', nan}

In [11]:
df_mid.loc[df_mid['contracting_method'] == 'Per Diem', 'contracting_method'] = 'per diem'
df_mid.loc[df_mid['contracting_method'] == 'Case Rate', 'contracting_method'] = 'case rate'
set(df_mid['contracting_method'].to_list())

{'case rate', nan, 'per diem'}

In [12]:
set(df_mid['line_type'].to_list())

{'APR DRG', 'CPT', 'DRG', 'ERX', 'HCPCS', 'SUP', nan}

In [13]:
df_mid.loc[df_mid['line_type'] == 'APR DRG', 'apr_drg'] = df_mid[df_mid['line_type'] == 'APR DRG']['code'].apply(lambda code: code[:3] + '-' + code[-1])
df_mid.loc[df_mid['line_type'] == 'CPT', 'hcpcs_cpt'] = df_mid[df_mid['line_type'] == 'CPT']['code']
df_mid.loc[df_mid['line_type'] == 'DRG', 'ms_drg'] = df_mid[df_mid['line_type'] == 'DRG']['code'].apply(lambda code: code.zfill(3))
df_mid.loc[df_mid['line_type'] == 'HCPCS', 'hcpcs_cpt'] = df_mid[df_mid['line_type'] == 'HCPCS']['code']

df_mid

,description,contracting_method,line_type,rev_code,code,ndc,drug_quantity,payer_name,standard_charge,apr_drg,hcpcs_cpt,ms_drg
0,PLASMA PHERESIS,NaN,CPT,940,36514,NaN,NaN,Price,3841.00,NaN,36514,NaN
1,INPATIENT ACUTE RENAL DIALYSIS,NaN,CPT,800,90935,NaN,NaN,Price,3151.75,NaN,90935,NaN
2,RC 111 PRIVATE,NaN,NaN,111,NOCPT,NaN,NaN,Price,1880.00,NaN,NaN,NaN
3,RC 121 SEMI PRIVATE,NaN,NaN,121,NOCPT,NaN,NaN,Price,1760.00,NaN,NaN,NaN
4,RC 111 PRIVATE W/ TELEMETRY,NaN,NaN,111,NOCPT,NaN,NaN,Price,4045.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
6520915,DEXTROSE FLUSH RATE BASED,NaN,ERX,258,J7060,0338-0017-02,50 mL,TH Aetna Broad IP TR,38.50,NaN,NaN,NaN
6520916,DEXTROSE FLUSH SOLUTION,NaN,ERX,258,J7060,0338-0017-10,25 mL,TH Aetna Broad IP TR,38.50,NaN,NaN,NaN
6520917,OPT DEXTROSE 5% IN WATER 100 ML INTRAVENOUS SOLP,NaN,ERX,258,J7060,0338-0017-48,100 mL,TH Aetna Broad IP TR,38.50,NaN,NaN,NaN
6520918,DEXTROSE 10 % IN WATER (D10W) 10 % INTRAVENOUS...,NaN,ERX,258,No CPT,0338-0023-02,250 mL,TH Aetna Broad IP TR,38.50,NaN,NaN,NaN
6520919,DEXTROSE 10 % IN WATER (D10W) 10 % IV PUSH,NaN,ERX,258,No CPT,0338-0023-02,250 mL,TH Aetna Broad IP TR,38.50,NaN,NaN,NaN

In [14]:
df_mid.loc[df_mid['rev_code'].notnull(), 'rev_code'] = df_mid[df_mid['rev_code'].notnull()]['rev_code'].apply(lambda rev_code: rev_code.zfill(4))
df_mid

,description,contracting_method,line_type,rev_code,code,ndc,drug_quantity,payer_name,standard_charge,apr_drg,hcpcs_cpt,ms_drg
0,PLASMA PHERESIS,NaN,CPT,0940,36514,NaN,NaN,Price,3841.00,NaN,36514,NaN
1,INPATIENT ACUTE RENAL DIALYSIS,NaN,CPT,0800,90935,NaN,NaN,Price,3151.75,NaN,90935,NaN
2,RC 111 PRIVATE,NaN,NaN,0111,NOCPT,NaN,NaN,Price,1880.00,NaN,NaN,NaN
3,RC 121 SEMI PRIVATE,NaN,NaN,0121,NOCPT,NaN,NaN,Price,1760.00,NaN,NaN,NaN
4,RC 111 PRIVATE W/ TELEMETRY,NaN,NaN,0111,NOCPT,NaN,NaN,Price,4045.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
6520915,DEXTROSE FLUSH RATE BASED,NaN,ERX,0258,J7060,0338-0017-02,50 mL,TH Aetna Broad IP TR,38.50,NaN,NaN,NaN
6520916,DEXTROSE FLUSH SOLUTION,NaN,ERX,0258,J7060,0338-0017-10,25 mL,TH Aetna Broad IP TR,38.50,NaN,NaN,NaN
6520917,OPT DEXTROSE 5% IN WATER 100 ML INTRAVENOUS SOLP,NaN,ERX,0258,J7060,0338-0017-48,100 mL,TH Aetna Broad IP TR,38.50,NaN,NaN,NaN
6520918,DEXTROSE 10 % IN WATER (D10W) 10 % INTRAVENOUS...,NaN,ERX,0258,No CPT,0338-0023-02,250 mL,TH Aetna Broad IP TR,38.50,NaN,NaN,NaN
6520919,DEXTROSE 10 % IN WATER (D10W) 10 % IV PUSH,NaN,ERX,0258,No CPT,0338-0023-02,250 mL,TH Aetna Broad IP TR,38.50,NaN,NaN,NaN

In [15]:
def payer_category_from_payer_name(payer_name):
    if payer_name == "Price":
        return "gross"
    elif payer_name.startswith("Min "):
        return "min"
    elif payer_name.startswith("Max "):
        return "max"

    return "payer"

df_mid['payer_category'] = df_mid['payer_name'].apply(payer_category_from_payer_name)
df_mid

,description,contracting_method,line_type,rev_code,code,ndc,drug_quantity,payer_name,standard_charge,apr_drg,hcpcs_cpt,ms_drg,payer_category
0,PLASMA PHERESIS,NaN,CPT,0940,36514,NaN,NaN,Price,3841.00,NaN,36514,NaN,gross
1,INPATIENT ACUTE RENAL DIALYSIS,NaN,CPT,0800,90935,NaN,NaN,Price,3151.75,NaN,90935,NaN,gross
2,RC 111 PRIVATE,NaN,NaN,0111,NOCPT,NaN,NaN,Price,1880.00,NaN,NaN,NaN,gross
3,RC 121 SEMI PRIVATE,NaN,NaN,0121,NOCPT,NaN,NaN,Price,1760.00,NaN,NaN,NaN,gross
4,RC 111 PRIVATE W/ TELEMETRY,NaN,NaN,0111,NOCPT,NaN,NaN,Price,4045.00,NaN,NaN,NaN,gross
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6520915,DEXTROSE FLUSH RATE BASED,NaN,ERX,0258,J7060,0338-0017-02,50 mL,TH Aetna Broad IP TR,38.50,NaN,NaN,NaN,payer
6520916,DEXTROSE FLUSH SOLUTION,NaN,ERX,0258,J7060,0338-0017-10,25 mL,TH Aetna Broad IP TR,38.50,NaN,NaN,NaN,payer
6520917,OPT DEXTROSE 5% IN WATER 100 ML INTRAVENOUS SOLP,NaN,ERX,0258,J7060,0338-0017-48,100 mL,TH Aetna Broad IP TR,38.50,NaN,NaN,NaN,payer
6520918,DEXTROSE 10 % IN WATER (D10W) 10 % INTRAVENOUS...,NaN,ERX,0258,No CPT,0338-0023-02,250 mL,TH Aetna Broad IP TR,38.50,NaN,NaN,NaN,payer
6520919,DEXTROSE 10 % IN WATER (D10W) 10 % IV PUSH,NaN,ERX,0258,No CPT,0338-0023-02,250 mL,TH Aetna Broad IP TR,38.50,NaN,NaN,NaN,payer

In [16]:
df_mid.loc[df_mid['payer_name'].str.contains(" IP "), 'setting'] = 'inpatient'
df_mid.loc[df_mid['payer_name'].str.contains(" OP "), 'setting'] = 'outpatient'
df_mid

,description,contracting_method,line_type,rev_code,code,ndc,drug_quantity,payer_name,standard_charge,apr_drg,hcpcs_cpt,ms_drg,payer_category,setting
0,PLASMA PHERESIS,NaN,CPT,0940,36514,NaN,NaN,Price,3841.00,NaN,36514,NaN,gross,NaN
1,INPATIENT ACUTE RENAL DIALYSIS,NaN,CPT,0800,90935,NaN,NaN,Price,3151.75,NaN,90935,NaN,gross,NaN
2,RC 111 PRIVATE,NaN,NaN,0111,NOCPT,NaN,NaN,Price,1880.00,NaN,NaN,NaN,gross,NaN
3,RC 121 SEMI PRIVATE,NaN,NaN,0121,NOCPT,NaN,NaN,Price,1760.00,NaN,NaN,NaN,gross,NaN
4,RC 111 PRIVATE W/ TELEMETRY,NaN,NaN,0111,NOCPT,NaN,NaN,Price,4045.00,NaN,NaN,NaN,gross,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6520915,DEXTROSE FLUSH RATE BASED,NaN,ERX,0258,J7060,0338-0017-02,50 mL,TH Aetna Broad IP TR,38.50,NaN,NaN,NaN,payer,inpatient
6520916,DEXTROSE FLUSH SOLUTION,NaN,ERX,0258,J7060,0338-0017-10,25 mL,TH Aetna Broad IP TR,38.50,NaN,NaN,NaN,payer,inpatient
6520917,OPT DEXTROSE 5% IN WATER 100 ML INTRAVENOUS SOLP,NaN,ERX,0258,J7060,0338-0017-48,100 mL,TH Aetna Broad IP TR,38.50,NaN,NaN,NaN,payer,inpatient
6520918,DEXTROSE 10 % IN WATER (D10W) 10 % INTRAVENOUS...,NaN,ERX,0258,No CPT,0338-0023-02,250 mL,TH Aetna Broad IP TR,38.50,NaN,NaN,NaN,payer,inpatient
6520919,DEXTROSE 10 % IN WATER (D10W) 10 % IV PUSH,NaN,ERX,0258,No CPT,0338-0023-02,250 mL,TH Aetna Broad IP TR,38.50,NaN,NaN,NaN,payer,inpatient

In [17]:
df_mid['hospital_id'] = ccn
df_mid['local_code'] = None
df_mid['eapg'] = None
df_mid['modifiers'] = None
df_mid['alt_hcpcs_cpt'] = None
df_mid['thru'] = None
df_mid['apc'] = None
df_mid['icd'] = None
df_mid['drug_hcpcs_multiplier'] = None
df_mid['drug_unit_of_measurement'] = None
df_mid['drug_type_of_measurement'] = None # XXX: derive from drug_quantity?
df_mid['billing_class'] = None
df_mid['plan_name'] = None
df_mid['standard_charge_percent'] = None
df_mid['additional_generic_notes'] = None
df_mid['additional_payer_specific_notes'] = None

df_mid

,description,contracting_method,line_type,rev_code,code,ndc,drug_quantity,payer_name,standard_charge,apr_drg,...,apc,icd,drug_hcpcs_multiplier,drug_unit_of_measurement,drug_type_of_measurement,billing_class,plan_name,standard_charge_percent,additional_generic_notes,additional_payer_specific_notes
0,PLASMA PHERESIS,NaN,CPT,0940,36514,NaN,NaN,Price,3841.00,NaN,...,None,None,None,None,None,None,None,None,None,None
1,INPATIENT ACUTE RENAL DIALYSIS,NaN,CPT,0800,90935,NaN,NaN,Price,3151.75,NaN,...,None,None,None,None,None,None,None,None,None,None
2,RC 111 PRIVATE,NaN,NaN,0111,NOCPT,NaN,NaN,Price,1880.00,NaN,...,None,None,None,None,None,None,None,None,None,None
3,RC 121 SEMI PRIVATE,NaN,NaN,0121,NOCPT,NaN,NaN,Price,1760.00,NaN,...,None,None,None,None,None,None,None,None,None,None
4,RC 111 PRIVATE W/ TELEMETRY,NaN,NaN,0111,NOCPT,NaN,NaN,Price,4045.00,NaN,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6520915,DEXTROSE FLUSH RATE BASED,NaN,ERX,0258,J7060,0338-0017-02,50 mL,TH Aetna Broad IP TR,38.50,NaN,...,None,None,None,None,None,None,None,None,None,None
6520916,DEXTROSE FLUSH SOLUTION,NaN,ERX,0258,J7060,0338-0017-10,25 mL,TH Aetna Broad IP TR,38.50,NaN,...,None,None,None,None,None,None,None,None,None,None
6520917,OPT DEXTROSE 5% IN WATER 100 ML INTRAVENOUS SOLP,NaN,ERX,0258,J7060,0338-0017-48,100 mL,TH Aetna Broad IP TR,38.50,NaN,...,None,None,None,None,None,None,None,None,None,None
6520918,DEXTROSE 10 % IN WATER (D10W) 10 % INTRAVENOUS...,NaN,ERX,0258,No CPT,0338-0023-02,250 mL,TH Aetna Broad IP TR,38.50,NaN,...,None,None,None,None,None,None,None,None,None,None
6520919,DEXTROSE 10 % IN WATER (D10W) 10 % IV PUSH,NaN,ERX,0258,No CPT,0338-0023-02,250 mL,TH Aetna Broad IP TR,38.50,NaN,...,None,None,None,None,None,None,None,None,None,None

In [18]:
df_mid = df_mid[df_mid['standard_charge'].notnull()]

In [19]:
df_out = pd.DataFrame(df_mid[TARGET_COLUMNS])
df_out

,hospital_id,line_type,description,rev_code,local_code,code,ms_drg,apr_drg,eapg,hcpcs_cpt,...,billing_class,setting,payer_category,payer_name,plan_name,standard_charge,standard_charge_percent,contracting_method,additional_generic_notes,additional_payer_specific_notes
0,452018,CPT,PLASMA PHERESIS,0940,None,36514,NaN,NaN,None,36514,...,None,NaN,gross,Price,None,3841.00,None,NaN,None,None
1,452018,CPT,INPATIENT ACUTE RENAL DIALYSIS,0800,None,90935,NaN,NaN,None,90935,...,None,NaN,gross,Price,None,3151.75,None,NaN,None,None
2,452018,NaN,RC 111 PRIVATE,0111,None,NOCPT,NaN,NaN,None,NaN,...,None,NaN,gross,Price,None,1880.00,None,NaN,None,None
3,452018,NaN,RC 121 SEMI PRIVATE,0121,None,NOCPT,NaN,NaN,None,NaN,...,None,NaN,gross,Price,None,1760.00,None,NaN,None,None
4,452018,NaN,RC 111 PRIVATE W/ TELEMETRY,0111,None,NOCPT,NaN,NaN,None,NaN,...,None,NaN,gross,Price,None,4045.00,None,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6520915,452018,ERX,DEXTROSE FLUSH RATE BASED,0258,None,J7060,NaN,NaN,None,NaN,...,None,inpatient,payer,TH Aetna Broad IP TR,None,38.50,None,NaN,None,None
6520916,452018,ERX,DEXTROSE FLUSH SOLUTION,0258,None,J7060,NaN,NaN,None,NaN,...,None,inpatient,payer,TH Aetna Broad IP TR,None,38.50,None,NaN,None,None
6520917,452018,ERX,OPT DEXTROSE 5% IN WATER 100 ML INTRAVENOUS SOLP,0258,None,J7060,NaN,NaN,None,NaN,...,None,inpatient,payer,TH Aetna Broad IP TR,None,38.50,None,NaN,None,None
6520918,452018,ERX,DEXTROSE 10 % IN WATER (D10W) 10 % INTRAVENOUS...,0258,None,No CPT,NaN,NaN,None,NaN,...,None,inpatient,payer,TH Aetna Broad IP TR,None,38.50,None,NaN,None,None
6520919,452018,ERX,DEXTROSE 10 % IN WATER (D10W) 10 % IV PUSH,0258,None,No CPT,NaN,NaN,None,NaN,...,None,inpatient,payer,TH Aetna Broad IP TR,None,38.50,None,NaN,None,None

In [20]:
df_out.to_csv('rate_' + ccn + '.csv', index=False)